body{
    font-family: montserrat;
}

.introdução{
    display: flex;
}

.conteudo-introducao{
    max-width: 50%;
    margin: 5%;
}

.img-introducao{
    max-width: 50%;
    margin: 2%;
}

.conteudo{
    display: flex;
}

.conteudoe{
    max-width: 40%;
    margin: 5%;
}

.conteudod{
    margin: 5%;
    justify-content: right;
}



.dialogo{
    display: flex;
}

.img-conteudo{
    margin-top: 20%;
}



.img-dialogo{
    height: 10%;
    margin-top: 20%;
}


/* CONFIGURAÇÔES PADRÕES */

*{
    font-family: 'Montserrat', sans-serif;
    line-height: 25px;
}

p{
    font-size: 16px;
    margin-top: 1%;
}

h1{
    font-size: 48px;
    font-weight: bold
}

h2{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 1%;
    margin-top: 5%;
}
