body{
    font-family: montserrat;
    text-align: justify;
    line-height: 1.5;
}
hr{
    margin-left: 1%;
    margin-right: 1%;
    min-width: 600px;
}

.navtop{
    display:flex;
    height: 60px;
    background-color: #18a0fb;
    font-weight: bold;
}

.titulo{
    margin-left: 77px;
    align-self: center;
}
.links{
    display: flex;
    width: 100%;
    justify-content: end;
    margin-right:77px;
}

/*PARA TÍTULO*/
h1{
    font-family: montserrat;
}

/*PARA SUBTÍTULO*/
h2{
    font-family: montserrat;
    font-weight: bold
}
/*SLOGAN*/
h3{
    font-family: montserrat;
    font-size: 56px;
}

/*Texto tela home*/
h4{
    font-family: montserrat;
    font-size: 30px;
}
/*Azul home*/
.azul {
    color: #31DAFF;
}
.scrum {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 600;
    font-size: 56px;
    line-height: 80px;
}

.ddt {
    font-family: 'Montserrat';
    font-style: italic; 
    margin-left: 77px;
    align-self: center;
}

.center{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.left{
    width: 600px;
    padding: 70px 0;
}

.right{
    text-align: justify;
    width: 600px;
    padding: 70px 0;
}

.botcontato{
    text-decoration: none;
    color: black;
    display: inline-block;
    margin-top: -15px;
    padding: 15px 15px;
}
.botcontato:hover{
    background-color: rgba(255, 255, 255, 3);
    display: block;
}
.corpo{
    margin-left: 8%;
    margin-right: 8%;
}

/*FORMATAÇÃO DAS POSIÇÕES DOS PEQUENOS TEXTOS E IMAGENS*/
.container {
    display: flex;
    justify-content: space-between;
}

.elemento {
    text-align: justify;
    width: 572px;
    font-family: 'Montserrat', sans-serif;
}
.espaco {
    width: 144px;
}
.imghome {
    background-image: url("../img/fundo\ home (2).png");
    background-repeat: no-repeat;
    width: 1349px;
    height: 766px;
    left: -73px;
    top: -106px;
}
/*BARRA DE MENU*/
.navtop li {
    display: inline-block;
    margin-top: -15px;
}
.navtop li a {
    text-decoration: none;
    display: inline-block;
    color: black;
    display: inline-block;
    padding: 15px 15px;
    background-color: #18a0fb;
    display: block;
    text-align: center;
}

/* navbar */
.navtop ul {
    list-style: none;
}

.navtop li a:hover{
    background-color: rgba(125, 232, 246, 0.531);
}

.dropdown-menu {
    display: none;
    background-color: #2ca5f6;
    position: relative;
}

.dropdown-menu a{
    display: block;
    box-shadow: 0 0 2px white;
}

.dropdown:hover .dropdown-menu{
    display: block;
}


/* Rodapé */
.navbot{
    display:flex;
    height: 60px;
    background-color: #dadada;
}
.navbot2{
    display:flex;
    height: 50px;
    background-color: #6C6C6C;
    color: #FFFFFF;
}
.navbot li {
    display: inline-block;
    margin-top: -15px;
}
.navbot li a {
    text-decoration:none;
    font-weight: bolder;
    display: inline-block;
    color: black;
    padding: 15px 20px;
    display: block;
    text-align: center;
}
