body{
    font-family: 'Montserrat' !important;
    text-align: justify !important;
    line-height: 1.5 !important;
}
hr{
    margin-left: 1%;
    margin-right: 1%;
    min-width: 600px;
}

.navtop{
    display:flex;
    height: 60px;
    background-color: #18a0fb;
    font-weight: bold;
}

.titulo{
    margin-left: 77px;
    align-self: center;
}
.links{
    align-self: center;
    display: flex;
    height: 25%;
    width: 100%;
    justify-content: end;
    margin-right:77px;
}

/*PARA TÍTULO*/
h1{
    font-family: montserrat !important;
    font-size: 35px !important;
    font-weight: bold !important;
}

/*PARA SUBTÍTULO*/
h2{
    font-family: montserrat !important;
    font-size: 25px !important;
}
/*SLOGAN*/
h3{
    font-family: montserrat !important;
    font-size: 56px !important;
}

/*Texto tela home*/
h4{
    font-family: montserrat !important;
    font-size: 30px !important;
}
/* botão começar trilha da home*/
.frame {
    width: 100%;
    margin: 40px auto;
    text-align: center;
  }
  button {
    margin: 10px;
  }
  .custom-btn {
    width: 190px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 35px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
.btn-5 {
    width: 190px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: #18a0fb;
  background: linear-gradient(0deg, #18a0fb 0%, #18a0fb 100%);
  }
  .btn-5:hover {
    color: #000000;
    background: transparent;
     box-shadow:none;
  }
  .btn-5:before,
  .btn-5:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #146ca6;
    box-shadow:
     -1px -1px 5px 0px #fff,
     7px 7px 20px 0px #0003,
     4px 4px 5px 0px #0002;
    transition:400ms ease all;
  }
  .btn-5:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .btn-5:hover:before,
  .btn-5:hover:after{
    width:100%;
    transition:800ms ease all;
  }
/*_________________________________________*/
/*Azul home*/
.azul {
    color: #31DAFF;
}
.scrum {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 600;
    font-size: 56px;
    line-height: 80px;
}

.ddt {
    font-family: 'Montserrat';
    font-style: italic; 
    margin-left: 77px;
    align-self: center;
}
.aprenda {
    font-family: 'Montserrat';
    font-style: italic; 
    margin-right: 5%;
    align-self: center;
}
.center{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.left{
    width: 600px;
    padding: 70px 30px;
}

.collapsible {
    background-color: #eee;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    text-align: center;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #fafafa;
}

.collapsible1 {
    background-color: #eee;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    text-align: center;
}

.content1 {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #fafafa;
}
.right{
    text-align: justify;
    width: 600px;
    padding: 70px 30px;
}

.corpo{
    padding-top: 50px !important;
    margin-left: 8% !important;
    margin-right: 8% !important;
}

/*FORMATAÇÃO DAS POSIÇÕES DOS PEQUENOS TEXTOS E IMAGENS*/

.container {
    display: flex;
    justify-content: space-between;
}
.container1 {
    display: flex;
    justify-content: space-between;
}
.elemento {
    text-align: justify;
    width: 572px;
    font-family: 'Montserrat', sans-serif;
}
.elemento1 {
    text-align: justify;
    margin-right: 0px; 
    width: 572px;
    font-family: 'Montserrat', sans-serif;
}
.espaco {
    width: 144px;
}
.imghome {
    background-image: url("../img/fundo\ home.png");
    display:flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}
a{
    text-decoration: none !important;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #3478df !important;
}

/*BARRA DE MENU*/
.navtop li {
    display: inline-block;
    margin-top: -15px;
}
.navtop li a {
    text-decoration: none;
    display: inline-block;
    color: black;
    display: inline-block;
    padding: 15px 15px;
    background-color: #18a0fb;
    display: block;
    text-align: center;
}


/* navbar bootstrap */
.dropdown{
    color: #fff !important;
    border: none;
}

.dropdown-menu {
    background-color: #18a0fb ;
    position: relative;
}

.dropdown:hover > .dropdown-menu{
    opacity:1 !important;
}

.dropdown-item:hover{
    background-color: rgba(125, 232, 246, 0.531) !important;
}

@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
	.navbar .nav-item:hover .nav-link{ color: #fff;  }
	.navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
	.navbar .dropdown-menu.fade-up{ top:180%;  }
	.navbar .nav-item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }
}	

/* navbar */
.navtop ul {
    list-style: none;
}

.navtop li a:hover{
    background-color: rgba(125, 232, 246, 0.531);
}

.dropdown-menu a{
    display: block;
    box-shadow: 0 0 2px white;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

.trilha a {
    text-decoration: none;
}

/* Rodapé */
.navbot{
    display:flex;
    height: 60px;
    background-color: #dadada;
}
.navbot2{
    display:flex;
    height: 50px;
    align-self: center;
    background-color: #6C6C6C;
    color: #FFFFFF;
}
.navbot li {
    display: inline-block;
    margin-top: -15px;
}
.navbot li a {
    text-decoration:none;
    font-weight: bolder;
    display: inline-block;
    color: black;
    padding: 15px 20px;
    display: block;
    text-align: center;
}
/* TABELA */
.tabela{
    width: 100%;
    height: auto;
    background-color: #18a0fb;
    border: 5px solid #18a0fb;
    border-radius: 5px;
}
.container-debaixo-table {
    display: flex;
    align-content: flex-start;
    width: max-content;
    height: 50px;

}
.baixotable{
    width: 70%;
    height: 50%;
    border: 5px solid #18a0fb;
    border-radius: 5px;
    background-color: #18a0fb;
}
.partdebaixo{ 
    width: 190px;
    height: 70px;
    margin: 0% 2%;
    text-align: left;
}
.notprof{
    background-color: #E1E1E1;
    border: none;
    border-radius: 10px;
    padding: 1% 2%;
    margin: 0.5% 1%;
    font-size: 130%;
}
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;
   width: 100%;
}
input[type=text]{
    background-color: #e1e1e1;
}
input{
    background-color: #e1e1e1;
    border: none;
    text-align: center;
}
.innota{
    width: 100%;
    height: max-content;
}
.linha{
    padding: 0%;
    background-color: #18a0fb;
}
p[type=number]{
    padding: 0%;
    margin: 0%;
    text-align: center;
}
.pedaço{
    background-color: #E1E1E1;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0px 4px 0px 0px #00000035;
    text-align: center;
    height:10%;
    width: 0.2%;
    border:10px solid #18a0fb;
    padding: 0%;
}

.botenviar{
    background-color: #88cfff;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0% 2%;
    height: 80%;
    margin: 2% 0%;
    margin-right: 1%;
}
/* -------  AVALIAÇÔES ---------*/ 

.introdução{
    display: flex;
}

.conteudo-introducao{
    max-width: 50%;
    margin: 5%;
}

.img-introducao{
    max-width: 50%;
    margin: 2%;
}

.conteudo{
    display: flex;
}

.conteudoe{
    max-width: 40%;
    margin: 5%;
}

.conteudod{
    margin: 0% 5%;
    justify-content: right;
}

.imgev2{
    text-align: justify;
    width: 400px;
    padding: 0px 30px 0px;
    margin-top: 20%;
}

/*------css para imagens------*/
.imgev1{
    text-align: justify;
    width: 400px;
    padding: 0px 30px 0px;
}

.left1{
    margin-top: 20px;
    width: 600px;
    padding: 0px 30px 0px;
}

.right1{
    text-align: justify;
    width: 600px;
    padding: 10px 10px;
}

/*------css para imagens------*/
.imgev1{
    text-align: justify;
    width: 400px;
    padding: 0px 30px 0px;
}
.imgev11{
    text-align: center;
    align-items: center;
    width: 330px;
    margin: auto;
    padding: 0px 20px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.left1{
    margin-top: 20px;
    width: 600px;
    padding: 0px 30px 0px;
}

.right1{
    text-align: justify;
    width: 600px;
    padding: 10px 10px;
}

.esp{
    padding: 70px 30px;   
}
.cards{
    display: flex;
    height: 100%;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    margin:0.5%;
    box-shadow: 2px 2px 5px rgb(98, 98, 98);
}
.introdução{
    margin-top:2.5%;
    margin-left:2.5%
}
.introdução2{
    margin-bottom:2.5%;
    margin-left:2.5%;
}
.enquete{
    height:10px;
    width: 100%;
    background-color: #3478df;
}
select{
    height:50px;
    width: 100%;
    background-color:#18a0fb;
    text-align: center;
    border:none;
    box-shadow: 1px 1px 4px #6C6C6C;
    
}
select:hover{
    background-color:#1681c8;
    color:#ffffff;
}
.nextpage{
    width: 80%;
    display:flex;
    justify-content:end ;
    margin-top:2.5%;
    margin-bottom:2.5%;
}
.nextpagebut{
    background-color:#18a0fb;
    border-radius: 10px;
    border:none;
    height:60px;
    width:10%;
}
.nextpagebut:hover{
    background-color:#146ca6;
    color:#ffffff;
}