body{
    font-family: montserrat;
}
.navtop{
    display:flex;
    height:50px;
    background-color: #18a0fb;
}
.titulo{
    margin-left: 77px;
    align-self: center;
}
.links{
    display: flex;
    width: 100%;
    justify-content: end;
    margin-right:77px;
}
h1{
    font-family: montserrat;
}
h3{
    font-family: montserrat;
    font-size: 56px;
}
h4{
    font-family: montserrat;
    font-size: 30px;
}
.center{
    text-align: center;
}
button{
    font-family: montserrat;
}
.corpo{
    margin-left: 5%;
    margin-right: 5%;
}
.container {
    display: flex;
}
.elemento {
    text-align: justify;
    width: 572px;
    border: 1px solid black;
}
.espaco {
    width: 144px;
}