
.body{
    height: 100%;
    width: 100%;
}

.titulo{
    font-family:montserrat;
    font-style: italic;
    font-style: bold;
    font-size: large;
}
.container{
    width:100%;
    display: flex;

}
.trilha{
    width:100%;
    display:flex;
    margin-left: 77px;
    }
.centrotrilha{
    background-color: #18A0FB;
    border-radius: 100%;
    height:200px;
    width:200px;
    display: flex;
    text-align: center;
    justify-content: center;
}
h1{
    font-family:montserrat;
}
.ct{
    justify-self: center;
    align-self: center;
}
.circulo1, .circulo2, .circulo3, .circulo4,.circulo5{
    border-radius: 100%;
    border:none;
    height: 120px;
    width: 120px;
    background-color:#49D3E6;
    display: flex;
    align-items: center;
    justify-content: center;

}

.image2{
    margin-top: 5%;
    align-self: flex-start;
}
.explicacao{
    display: flex;
    width: 100%;
    justify-content: end;
    margin-right:77px;
}
.balao{
    background-color: #18A0FB;
    height: 125px;
    width: 400px;
    border-radius: 20px;
    display: flex;
    margin-top: 5%;
    margin-right: 1%;
    align-self: flex-start;
}
p{
    margin-left: 20px;
    margin-right: 20px;
}
.seta{
    margin-left: 5px;
    margin-right: 5px;
}
