<!DOCTYPE html>
<html lang="pt-BR">

<head>
    {% extends 'base.html' %}

    {% block titulo %}
    <title>Artefatos</title>
    {% endblock %}
</head>

<body>
    {% block conteudo %}

    <div class="corpo">
        <!-- introdução -->
        <h1>Artefatos</h1>
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-6 col-md-6 mx-auto my-auto" style="max-width: 600px;">
                O Scrum possui alguns artefatos que dão uma visão do andamento do projeto e das Sprints, facilitando o
                entendimento, a organização e a divisão do projeto. Os artefatos são informações que a equipe e as
                partes interessadas usam para detalhar o produto que está sendo desenvolvido, as ações para a produção
                dele e as ações realizadas durante o projeto. <br><br> Os artefatos de Scrum são: Product Backlog,
                Sprint
                Backlog, Product Increment, Definition of Done e Burndown Charts.
            </div>
            <div class="col-lg-6 col-md-6 mx-auto center" style="max-width: 600px;">
                <img class="imgev1" src="../static/img/artefatos.png" alt="artefatos" style="max-width: 75%;">
            </div>
        </div>

        <!--Botao do colaspe-->
        <div>
            <button type="button" class="collapsible"><b>Clique para acessar o vídeo! </b>
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"
                    class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                    <path
                        d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                </svg>
            </button>
            <div class="content">
                <iframe class="center" src="https://www.youtube.com/embed/qs-8yOT5xjY" frameborder="0" width="800"
                    height="500"></iframe>

            </div>
            <script>
                var coll = document.getElementsByClassName("collapsible");
                var i;


                for (i = 0; i < coll.length; i++) {
                    coll[i].addEventListener("click", function () {
                        this.classList.toggle("active");
                        var content = this.nextElementSibling;
                        if (content.style.display === "block") {
                            content.style.display = "none";
                        } else {
                            content.style.display = "block";
                        }
                    });
                }

            </script>
        </div>
        <br>

        <!-- corpo -->
        <h1 class="int-art">Introdução aos artefatos</h1>
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-6 col-md-6 mx-auto my-auto" style="max-width: 600px;">
                <b>Product Backlog</b><br>
                <p>O Product Backlog é uma lista ordenada criada pelo Time Scrum, mas onde somente o Product Owner pode
                    inserir, remover ou reordenar os itens. geralmente itens mais importantes ficam no topo, e serão
                    implementados antes. <br><br> Em geral, os itens de maior importância são os itens que se têm maior
                    conhecimento, e por isso possuem um detalhamento maior. Itens que precisem de maior refinamento
                    geralmente têm uma importância menor e ficam mais abaixo no Product Backlog.</p>
                <div class="col-lg-6 col-md-6 mx-auto center" style="max-width: 600px;">
                    <img class="imgev1" src="../static/img/backlog.png" alt="backlog" style="max-width: 75%;">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mx-auto my-auto" style="max-width: 600px;">
                <b>Sprint Backlog</b><br>
                <p>SprintBacklog é o conjunto de itens selecionados para serem implementados durante a Sprint mais o
                    plano para transforma-los em um Incremento. <br><br> Normalmente, o plano é composto das tarefas
                    técnicas
                    necessárias para transformar o item em um incremento do produto. O objetivo do Sprint Backlog é
                    tornar visível o trabalho necessário para que a equipe atinja a meta da Sprint.</p>
                <div class="col-lg-6 col-md-6 mx-auto center" style="max-width: 600px;">
                    <img class="imgev1" src="../static/img/sprint backlog.png" alt="sprintbacklog"
                        style="max-width: 75%;">
                </div>
            </div>
        </div>
        <hr>
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-6 col-md-6 mx-auto my-auto" style="max-width: 600px;">
                <b>Definition of Ready</b><br>
                <p>O DoR é um conjunto de critérios definidos pelo time, que detalha as condições que uma story precisa
                    atingir/conter para que possa ser trabalhada pelo time. <br><br>

                    O benefício do DoR para seu time é ajudá-lo a ter as informações e expectativas relevantes no
                    momento em que a story será desenvolvida, diminuindo as incertezas e os problemas de comunicação e
                    entendimento. </p>
                <div class="col-lg-6 col-md-6 mx-auto center" style="max-width: 600px;">
                    <img class="imgev1" src="../static/img/increment.png" alt="increment" style="max-width: 75%;">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mx-auto my-auto" style="max-width: 600px;">
                <b>Definition of Done</b><br>
                <p>Como o próprio nome indica, o Definition Of Done (DoD), estabelece os critérios para que uma tarefa
                    seja considerada “finalizada” dentro de um modelo de trabalho Scrum. <br><br> Uma funcionalidade
                    somente é
                    considerada “pronta” se tiver passado por todas as etapas definidas pela equipe para se garantir a
                    qualidade do que se esteja produzindo durante a Sprint.</p>
                <div class="col-lg-6 col-md-6 mx-auto center" style="max-width: 600px;">
                    <img class="imgev1" src="../static/img/definition of done.png" alt="definition of done"
                        style="max-width: 75%;">
                </div>
            </div>
        </div>
        <hr>
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-6 col-md-6 mx-auto my-auto" style="max-width: 600px;">
                <b>Planning Poker</b><br>
                <p>Planning poker é uma técnica de planejamento e estimativa baseada em consenso, que é muito útil para
                    estimar os backlogs de produtos.<br><br> O interessante é que essa forma de estimar permite
                    fornecer resultados com tempos bem mais curtos e com precisão maior, especialmente porque não está
                    baseada na opinião de um único membro da equipe, mas sim na inteligência coletiva.</p>
                <div class="col-lg-6 col-md-6 mx-auto center" style="max-width: 600px;">
                    <img class="imgev1" src="../static/img/planning_poker.png" alt="planning_poker"
                        style="max-width: 75%;">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mx-auto my-auto" style="max-width: 600px;">
                <b>Kanban</b><br>
                <p>Kanban é um método popular de gestão de fluxo de trabalho Lean para definir, gerenciar e melhorar
                    serviços que fornecem trabalho do conhecimento. <br><br> O trabalho é representado em quadros
                    Kanban, permitindo
                    otimizar a entrega do trabalho em várias equipes e lidar até mesmo com os projetos mais complexos em
                    um único ambiente.</p>
                <div class="col-lg-6 col-md-6 mx-auto center" style="max-width: 600px;">
                    <img class="imgev1" src="../static/img/kanban.png" alt="kanban" style="max-width: 75%;">
                </div>
            </div>
        </div>
        <hr>
        <div class="container1">
            <div class="center" style="width: 80%">
                <b>MVP</b><br>
                <p>O conceito de MVP nasceu no contexto de startups, principalmente de tecnologia. Porém, a linha de
                    raciocínio é aplicável a praticamente todos os projetos.
                    Você pode colocar essa metodologia em prática desde a construção de empresas até relacionamentos.
                    Além disso, pode basear o seu investimento no feedback dos consumidores.
                    A grande dificuldade é saber eliminar aspectos que muitas vezes queremos fazer, mas que ainda não
                    provaram ter funcionalidade e retorno.</p>
                <img class="mvp-art" src="../static/img/mvp.jpg" class="center">
            </div>
        </div><br><br>

        <div class="container1">
            <div class="center" style="width: 80%">
                <b>Burndown Charts</b><br>
                <p>Burndown Chart é o gráfico utilizado pelas equipes Scrum para representar diariamente o progresso do
                    trabalho em desenvolvimento. Ele torna visível a evolução diária do trabalho da equipe, pois mostra
                    a comparação entre o trabalho estimado inicialmente com a quantidade restante estimada de trabalho.
                    Normalmente, as unidades utilizadas são de esforço (em horas) planejado pelo tempo decorrido. Além
                    de ajudar o time a se autogerenciar, o Burndown Chart também permite que o restante da organização
                    também possa acompanhar o andamento da Sprint.</p>
                <img class="burn-art" src="../static/img/burndown.png" class="center">
            </div>
        </div>

        <!--Botao do colaspe-->
        <br><br>
        <div>
            <button type="button" class="collapsible1"><b>Clique para ver mais! </b>
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"
                    class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                    <path
                        d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                </svg>
            </button>
            <div class="content1">
                <br>
                <div class="row gx-4 gx-lg-5">
                    <li><b>Como fazer o Product Backlog?</b></li>
                    <div class="col-lg-6 col-md-6 mx-auto my-auto" style="max-width: 600px;">
                        Para fazer um Product Backlog de sucesso, as duas principais coisas são: Validar e testar
                        hipóteses. O
                        product backlog nada mais é que a lista de desejos a serem
                        alcançados, ou seja, hipóteses. Dessa forma, o primeiro passo para fazer um Product Backlog é
                        montar uma
                        lista de hipóteses a serem realizadas para serem
                        possivelmente adicionadas ao trabalho.
                        <br><br> O segundo passo é organizar essa lista em prioridades, ou seja, definir as hipóteses em
                        diferentes importâncias e a ordem em que serão validadas. E por fim,
                        validar e testar cada item para assim o grupo decidir se será adicionado ou não ao trabalho.
                    </div>
                    <div class="col-lg-6 col-md-6 mx-auto center" style="max-width: 600px;">
                        <img class="imgev1" src="../static/img/comoback.png" alt="como fazer back"
                            style="max-width: 75%;">
                    </div>
                </div>
                <br>
                <li><b>Como fazer o a Sprint Backlog?</b></li>
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-6 col-md-6 mx-auto center" style="max-width: 600px;">
                        <img class="img-equi" src="../static/img/comosprint.png">
                    </div>
                    <div class="col-lg-6 col-md-6 mx-auto my-auto" style="max-width: 600px;">
                        Para fazer uma Sprint Backlog, o primeiro passo é conversar com a equipe e anotar os principais
                        objetivos e espectativas a serem concluídos
                        durante cada Sprint, indicando o que irão fazer e como. <br><br> Com isso o próximo passo é
                        dividir as tarefas
                        entre os integrantes
                        da equipe e definir um tempo estimado para cada tarefa a ser concluída em cada sprint. Dessa
                        forma a
                        equipe evita o acúmulo
                        e atraso de tarefas e consegue organizar o que será feito.
                        <br><br> A Sprint Backlog pode sofrer alterações durante o decorrer das sprints,
                        a variação ocorre através da validação e invalidação de tarefas que irão se modelando de acordo
                        com a
                        orientação do trabalho.
                    </div>
                </div>
                <br>
                <li><b>Definition of Done</b></li>
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-6 col-md-6 mx-auto my-auto" style="max-width: 600px;">
                        Para fazer um "Definition of Done", primeiro a equipe deve se reunir e organizar para definirem
                        o que
                        será considerado um trabalho/item completo, ou seja, quais requisitos o item deverá cumprir para
                        ser
                        considerado apresentável. <br><br>
                        O segundo passo ocorre no final de cada sprint, deve se fazer um checklist para verificar se os
                        itens
                        atenderam aos critérios estabelecidos e assim poderem ser considerados "prontos", evitando que
                        trabalhos
                        incompletos ou mau feitos passem para frente.
                    </div>
                    <div class="col-lg-6 col-md-6 mx-auto center" style="max-width: 600px;">
                        <img class="img-equi" src="../static/img/dod.png">
                    </div>
                </div>
            </div>
            <script>
                var coll = document.getElementsByClassName("collapsible1");
                var ii;


                for (ii = 0; ii < coll.length; ii++) {
                    coll[ii].addEventListener("click", function () {
                        this.classList.toggle("active");
                        var content1 = this.nextElementSibling;
                        if (content1.style.display === "block") {
                            content1.style.display = "none";
                        } else {
                            content1.style.display = "block";
                        }
                    });
                }

            </script>
        </div>

        <hr>


        <!-- retornar a trilha -->

        <div class="center">
            <img src="../static/img/trofeu.svg" class="center" alt="trofeu trilha"><br>
            Agora você já sabe como quais são os artefatos Scrum!<br>
            Retorne a trilha para o próximo aprendizado!<br>
            <br>
            <div class="frame">
                <a style="color: black;" href="/equipe"><button class="trocar-pagina btn-5">◄</button></a>
                <a style="color: black;" href="/trilha"><button class="retornar-trilha btn-5">Retornar a Trilha!</button></a>
                <a style="color: black;" href="/eventos"><button class="trocar-pagina btn-5">►</button></a>            
            </div>
        </div>
    </div>

    <br>

    {% endblock %}

</body>

</html>