<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'base.html' %}

    {% block titulo %}
    <title>Avaliações</title>
    {% endblock %}
</head>

<body>
     <!--  Tabela  -->
    {% block conteudo %}
    
    <div class="corpo">
        <!--  Introdução da página de Avaliações  -->
        <div class="container">
            <h1>Como avaliar sua equipe?</h1>
            <div class="dialogo">
                <img class="imgev2" src="../static/img/img-mulherdialogo.png" alt="">
            </div>
            <form method="post">
        </div>
            
                <table>
                    <tr>
                        <th >Nome</th>
                        <th >Processo</th>
                        <th >Produto</th>
                        <th >Conhecimento</th>
                        <th >Nota Final</th>
                    </tr>
                    {%if metodo=="GET":%}
                        {% for c in range(1,8): %}
                        <tr class="linha">
                            <td class="pedaço"> <input type="text"  name="n{{c}}" class="nome"></td>
                            <td class="pedaço"> <input type="number" step="0.01" max="10" min="0" value="0" name="a{{c}}"></td>
                            <td class="pedaço"> <input type="number" step="0.01" max="10" min="0" value="0" name="b{{c}}"></td>
                            <td class="pedaço"> <input type="number" step="0.01" max="10" min="0" value="0" name="c{{c}}"></td>
                            <td class="pedaço"> <p type="number"></p></td>
                        </tr>
                        {%endfor %}
                    
                    {%else:%}
                        {%for pessoa in pessoas:%}
                        <tr class="linha">
                            <td class="pedaço"> <input type="text"  name="n{{loop.index0+1}}" value="{{pessoa[0]}}" class="nome"></td>
                            <td class="pedaço"> <input type="number" step="0.01" max="10" min="0" name="a{{loop.index0+1}}" value="{{pessoa[1]}}"></td>
                            <td class="pedaço"> <input type="number" step="0.01" max="10" min="0" name="b{{loop.index0+1}}" value="{{pessoa[2]}}"></td>
                            <td class="pedaço"> <input type="number" step="0.01" max="10" min="0" name="c{{loop.index0+1}}" value="{{pessoa[3]}}"></td>
                            <td class="pedaço"> <p type="number" >{{pessoa[4]}}</p></td>
                        </tr>
                        {%endfor%}
                    {%endif%}

                </table>
                <input type="submit" class="botenviar" value="Calcular">
            </form>
        <hr>

         <!--  Conteúdo  -->

         <div class="container1">
            
            <div class="left"> 
                <b>A avaliação é dividida em processo, produto e conhecimento.</b><br><br>

                <div>
                    <b> Processo</b>
                    <p>Interesse no desenvolvimento da atividade, pontualidade na entrega, desenvolvimento harmonico com a equipe, colaboração, postura e atitude.</p>
                </div>
                
                <div>
                    <b>Produto</b>
                    <p>Qualidade do produto, eficiência, criatividade, originalidade e coerência.</p>
                </div>

                <div>
                    <b>Conhecimento</b>
                    <p>Capacidade de interpretação do que foi passado, desenvolvimento dos conceitos, e conhecimento teórico.</p>
                </div>
                
            </div> 
            <div class="left">
                <div>
                    <b>Formula Utilizada</b>
                    <p>Nota = (Processo * 0,3) + (Produto * 0,4) + (Conhecimento * 0,3)</p>
                </div>
                
                <div>
                    <img class="imgev11" src="../static/img/imagem-lupa.png">
                </div>
            </div>  


            
        </div>
        <div class="container">  
            <div>
                <h1>Não se esqueça:</h1>
                <p>Por mais completo e funcional que seja, o metódo Scrum não fornece padrões de como uma equipe deve se avaliar.
                Como o Scrum preza pela colaboração, empenho e honestidade entre os membros de uma equipe, um dos meios de avaliação mais indicados são aqueles em que 
                cada membro da equipe fornece sua visão sobre si mesmo e os demais. </p><br>
            </div>
        </div>

        <hr>

        <!-- retornar a trilha -->

        <div class="center">
            <img src="../static/img/trofeu.svg" class="center" alt="trofeu trilha"><br>
            Agora você já sabe quais são os pilares do Srum!<br>
            Retorne a trilha para o próximo aprendizado!<br>
            <br>
            <button type="button" class="btn btn-primary" style="background-color:#18a0fb"><a class="text-white" href="/trilha">Retornar à trilha</a></button>
        </div>
    </div>

    <br>
    {% endblock %}

</body>
</html>
