<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DDT</title>
    <!-- formatação -->
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/normalize.css">
    

    <!-- fonte -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
    <!-- cabeçalho-->
    <div class="navtop">
        <div class="titulo"><h1>DDT</h1></div>
        <ul class="links">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li class="dropdown">
                <a href="">Aprenda Conosco</a>

                <div class="dropdown-menu">
                        <a href="pilares.html">Três Pilares</a>
                        <a href="artefatos.html">Artefatos</a>
                        <a href="equipe.html">Equipe</a>
                        <a href="Avaliações.html">Avaliações</a>
                        <a href="eventos.html">Eventos</a>
                </div>
            </li>
            <li>
                <a href="contato.html">Contato</a>
            </li>
        </ul>
    </div>
    

<!-- Introdução da página de Avaliações -->


    <div class="introdução">
        <div class="conteudo-introducao">
            <h1>Como avaliar sua equipe?</h1>
            <p>Por mais completo e funcional que seja, o metódo Scrum não fornece padrões de como uma equipe deve se avaliar.
            Como o Scrum preza pela colaboração, empenho e honestidade entre os membros de uma equipe, um dos meios de avaliação mais indicados são aqueles em que 
            cada membro da equipe fornece sua visão sobre si mesmo e os demais. </p>
        </div>
            
        <img class="img-introducao" src="../static/img/imagem-lupa.png" alt="">
    
    </div>

    <hr>

<!-- Conteúdo -->

    <div class="conteudo">
        

        <div class="conteudoe"> 
            <p>A avaliação é dividida em processo, produto e conhecimento.</p>

            <div>
                <h2> Processo</h2>
                <p>Interesse no desenvolvimento da atividade, pontualidade na entrega, desenvolvimento harmonico com a equipe, colaboração, postura e atitude.</p>
            </div>
            
            
            <div>
                <h2>Produto</h2>
                <p>Qualidade do produto, eficiência, criatividade, originalidade e coerência.</p>
            </div>

            <div>
                <h2>Conhecimento</h2>
                <p>Qualidade do produto, eficiência, criatividade, originalidade e coerência.</p>
            </div>

        </div> 
        <div class="conteudod">
            <div>
                <h2>Formula Utilizada</h2>
                <p>Nota final = (Processo * 0,3) + (Produto * 0,4) + (Conhecimento * 0,3)</p>
            </div>
            <div class="dialogo">
                <img class="img-dialogo" src="../static/img/imagem-dialogo.png" alt="">
                
                
                <img class="img-conteudo" src="../static/img/imagem-mulher.png"alt="">
                
            </div>
        
        </div>  
        
    </div>


    <!-- Tabela -->

    <table>
        <tr>
            <th>Nome</th>
            <th>Processo</th>
            <th>Produto</th>
            <th>Conhecimento</th>
            <th>Nota Final</th>
        </tr>
        <tr>
            <td> <input type="text"></td>
            <td> <input type="text"></td>
            <td> <input type="text"></td>
            <td> <input type="text"></td>
            <td> <input type="text"></td>
        </tr>
        <tr>
            <td> <input type="text"></td>
            <td> <input type="text"></td>
            <td> <input type="text"></td>
            <td> <input type="text"></td>
            <td> <input type="text"></td>
        </tr>
        <tr>
            <td> <input type="text"></td>
            <td> <input type="text"></td>
            <td> <input type="text"></td>
            <td> <input type="text"></td>
            <td> <input type="text"></td>
        </tr>



    </table>


    <hr>

    <!-- retornar a trilha -->

    <div class="center">
        <img src="../static/img/trofeu.svg" class="center" alt="trofeu trilha"><br>
        Agora você já sabe como avaliar seu time Scrum!<br>
        Retorne a trilha para o próximo aprendizado!<br>
        <br>
        <button type="button" class="bottrilha">Retornar à trilha</button>
    </div>
   
    <!-- rodapé -->
    <div class="navbot">
        <div class="titulo"><h1>DDT</h1></div>
        <ul class="links">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="contato.html">Contato</a>
            </li>
            © DDT. 2023. Método Scrum
        </ul>
    </div>
    <div class="navbot2">
    <p class="center">“Scrum: gere valor, supere expectativas, entregue resultados.”</p>
    </div>
    

</body>
</html>