<!DOCTYPE html>
<html lang="pt-BR">

<head>
    {% extends 'base.html' %}

    {% block titulo %}
    <title>Avaliações</title>
    {% endblock %}
</head>

<body>
    <!--  Tabela  -->
    {% block conteudo %}

    <div class="corpo">
        <!--  Introdução da página de Avaliações  -->
        <div class="container">
            <div>
                <h1>Como avaliar sua equipe?</h1>
                <p>Para avaliar sua equipe, a Fatec-São José dos Campos, utiliza o metódo PACER, onde você preencherá os
                    campos de notas, com as notas que os Professores "M2" e "P2" lhe atribuíram conforme o desempenho da
                    sua equipe, e então obterá a nota total que deverá ser destribuída para o grupo.</p>
            </div>


        </div>
        <!-- Tabela -->
        <div class="container-tabela">
            <form method="post" class="tabelacompleta">
                <div style="width: 35%; padding: 10px 0px 0px 10px">
                    <b style="margin:0% 1%;">Número de integrantes(0-10):
                        <input onclick="this.select();" type="number" min="1" max="10" required name="qtd_pessoas" value="{{qtd_pessoas}}" class="ped-ret" id="qtd_pessoas">
                    </b>
                </div>
                <br>
                <div class="container1">
                    <table style="margin: 0% 5%;">
                        <tr>
                            <th>Processo(0-1):</th>
                        </tr>
                        <tr>
                            <td><input type="number" min="0" max="1" required onclick="this.select();" name="nota_proc"
                                    value="{{nota_proc}}" class="ped-ret"></td>
                        </tr>
                        <tr>
                            <th>Produto(0-1):</th>
                        </tr>
                        <tr>
                            <td><input type="number" min="0" max="1" required onclick="this.select();" name="nota_prodt"
                                    value="{{nota_prodt}}" class="ped-ret"></td>
                        </tr>
                        <tr>
                            <th>Competência disciplinar(0-1):</th>
                        </tr>
                        <tr>
                            <td><input type="number" min="0" max="1" required onclick="this.select();" name="nota_compt"
                                    value="{{nota_compt}}" class="ped-ret"></td>
                        </tr>
                        <tr>
                            <th>Validação da Sprint:</th>
                        </tr>
                        <tr>
                            <td><input type="number" min="0" max="1" readonly name="vali_sprint" value="{{vali_sprint}}"
                                    class="ped-ret"></td>
                        </tr>
                    </table>

                    <div class="parte_de_cima_da_direita">
                        <table class="retangulo">
                            <tr style="padding: 0%;">
                                <th style="padding: 0%;">Nota P2(0-3):</th>
                                <th style="padding: 0%;">Nota equipe(0-3):</th>
                                <th style="padding: 0%;">Nota M2(0-3):</th>
                                <th style="padding: 0%;">Validação da Sprint:</th>
                            </tr>
                            <tr class="linha">
                                <td style="padding: 0%;"><input type="number" min="0" max="3" onclick="this.select();"
                                        required name="nota_PO" value='{{nota_PO}}' class="ped-ret"></td>
                                <td style="padding: 0%;"><input type="number" min="0" max="3" onclick="this.select();"
                                        required name="nota_SM" value='{{nota_SM}}' class="ped-ret"></td>
                                <td style="padding: 0%;"><input type="number" min="0" max="3" onclick="this.select();"
                                        required name="nota_DT" value='{{nota_DT}}' class="ped-ret"></td>
                                <td style="padding: 0%;"><input type="number" min="0" max="3" readonly name="vali_sprint"
                                        value='{{vali_sprint}}' class="ped-ret"></td>
                            </tr>
                            <tr>
                                <th style="padding: 0%;">Porcentagem (%):</th>
                                <th style="padding: 0%;">Porcentagem (%):</th>
                                <th style="padding: 0%;">Porcentagem (%):</th>
                                <th style="padding: 0%;">Porcentagem (%):</th>
                            </tr>
                            <tr>
                                <td style="padding: 0%;"><input type="number" readonly value="{{porcent_PO}}"
                                        class="ped-ret"></td>
                                <td style="padding: 0%;"><input type="number" readonly value="{{porcent_SM}}"
                                        class="ped-ret"></td>
                                <td style="padding: 0%;"><input type="number" readonly value="{{porcent_DT}}"
                                        class="ped-ret"></td>
                                <td style="padding: 0%;"><input type="number" readonly value="{{nota_total1}}"
                                        class="ped-ret"></td>
                            </tr>
                        </table>

                        <!-- Espaço para nota utilizada -->
                        <div class="container-debaixo-table">
                            <div class="partdebaixo">
                                <th><b>Porcent. Total:</b></th>
                                <input type="number" readonly class="ped-ret" style="height: 60%;" value="{{soma_porcent}}">
                            </div>
                            <!-- Espaço para nota do professor -->
                            <div class="partdebaixo">
                                <div>
                                    <th><b>Pontos:</b></th>
                                </div>
                                <input onclick="this.select();" type="number" value="{{nota_grupo}}" readonly
                                    class="ped-ret" style="height: 60%;" name="nota_prof">
                            </div>
                            <!-- botão para calcular -->
                            <input type="submit" class="botenviar" value="Calcular" style="margin-top: 5%;">
                        </div>
                    </div>
                </div>
                <br>
                <hr>
                <table class="tabela">
                    <tr style="width: min-content">
                        <th>Nome:</th>
                        <th>Proatividade:</th>
                        <th>Autonomia:</th>
                        <th>Colaboração:</th>
                        <th>Entrega:</th>
                    </tr>
                    {%if metodo=="GET":%}
                    {% for linha in range(1,11): %}
                    <tr class="linha">
                        <td class="pedaço" style="width: 300px;"><input onclick="this.select();" class="innota" type="text"
                                name="nome{{linha}}"></td>
                        <td class="pedaço" style="width: 150px;"><input onclick="this.select();" class="innota"
                                type="number" max="3" min="0" step="0.1" required value="0" name="nota_proat{{linha}}"></td>
                        <td class="pedaço" style="width: 150px;"><input onclick="this.select();" class="innota"
                                type="number" max="3" min="0" step="0.1" required value="0" name="nota_auto{{linha}}"></td>
                        <td class="pedaço" style="width: 150px;"><input onclick="this.select();" class="innota"
                                type="number" max="3" min="0" step="0.1" required value="0" name="nota_colab{{linha}}"></td>
                        <td class="pedaço" style="width: 150px;"><input onclick="this.select();" class="innota"
                                type="number" max="3" min="0" step="0.1" required value="0" name="nota_entreg{{linha}}">
                        </td>
                    </tr>
                    {%endfor %}

                    {%else:%}
                    {%for pessoa in pessoas:%}
                    <tr class="linha">
                        <td class="pedaço" style="width: 300px;"><input onclick="this.select();" class="innota" type="text"
                                name="nome{{loop.index0+1}}" value="{{pessoa[0]}}" class="nome"></td>
                        <td class="pedaço" style="width: 150px;"><input onclick="this.select();" class="innota"
                                type="number" max="3" min="0" step="0.1" required name="nota_proat{{loop.index0+1}}"
                                value="{{pessoa[1]}}"></td>
                        <td class="pedaço" style="width: 150px;"><input onclick="this.select();" class="innota"
                                type="number" max="3" min="0" step="0.1" required name="nota_auto{{loop.index0+1}}"
                                value="{{pessoa[2]}}"></td>
                        <td class="pedaço" style="width: 150px;"><input onclick="this.select();" class="innota"
                                type="number" max="3" min="0" step="0.1" required name="nota_colab{{loop.index0+1}}"
                                value="{{pessoa[3]}}"></td>
                        <td class="pedaço" style="width: 150px;"><input onclick="this.select();" class="innota"
                                type="number" max="3" min="0" step="0.1" required name="nota_entreg{{loop.index0+1}}"
                                value="{{pessoa[4]}}"></td>
                    </tr>
                    {%endfor%}
                    {%endif%}

                    <!-- abaixo da tabela -->

                </table>

                <div class="container1" style="width: min-content; margin: 0%; padding-left: 150px;">

                    <div style="margin: 1% 0%;">
                        <th><b>Utilizados:</b></th>
                    </div>
                    <input type="number" value="{{nota_usada}}" readonly class="ped-ret" style="margin: 1% 2%; width: 80px;"
                        name="nota_prof">

                    <div style="margin: 1% 0%;">
                        <th><b>Possíveis:</b></th>
                    </div>
                    <input type="number" value="{{nota_grupo}}" readonly class="ped-ret" style="margin: 1% 2%; width: 80px;"
                        name="nota_prof">

                    <input type="submit" class="botenviar" value="Verificar" style="margin-top: 1%;">

                    {%if nota_usada>nota_grupo:%}
                    <p style="color: red; margin: 1% 2%; width: 502px;">Você está usando pontos a mais</p>
                    {%elif nota_grupo>nota_usada:%}
                    <p style="color: Green; margin: 1% 2%; min-width: 502px;">Você tem pontos sobrando!</p>
                    {%endif%}

                </div>
            </form>
        </div>
        <hr>

        <!--  Conteúdo  -->

        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-6 col-md-6 mx-auto my-auto" style="max-width: 600px;">
                <b>A avaliação de cada membro é divídida em proatividade, autonomia, colaboração e entrega.</b><br><br>
                <div>
                    <b>Proatividade:</b>
                    <p>Capacidade de assumir responsabilidades e resolver problemas sem precisar que alguém direcione.
                    </p>
                </div>
                <div>
                    <b>Autonomia:</b>
                    <p>Capacidade de resolver os problemas e ultrapassar dificuldades individualmente.</p>
                </div>
                <div>
                    <b>Colaboração:</b>
                    <p>Capacidade de ajudar membros do grupo com suas demandas e ensinar sobre o que precisam.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mx-auto my-auto" style="max-width: 600px;">
                <div>
                    <b>Entrega:</b>
                    <p>A entrega da tarefa feita, se foi de acordo com os requisitios definidos e se foi de bom uso.</p>
                </div>

                <div>
                    <img class="imgev1 center" style="width: 300px;" src="../static/img/imagem-lupa.png">
                </div>

            </div>

        </div>

        <hr>

        <div class="container">
            <div>
                <br>
                <h1>Não se esqueça:</h1>
                <p>Por mais completo e funcional que seja, o metódo Scrum não fornece padrões de como uma equipe deve se
                    avaliar.
                    Como o Scrum preza pela colaboração, empenho e honestidade entre os membros de uma equipe, um dos
                    meios de avaliação mais indicados são aqueles em que
                    cada membro da equipe fornece sua visão sobre si mesmo e os demais. </p><br>
            </div>
        </div>

        <hr>

        <!-- retornar a trilha -->

        <div class="center">
            <img src="../static/img/trofeu.svg" class="center" alt="trofeu trilha"><br>
            Agora você já sabe como pode avaliar sua equipe no metódo Scrum!<br>
            Retorne a trilha para o próximo aprendizado!<br>
            <br>
        </div>
        <div class="frame">
            <a style="color: black;" href="/eventos"><button class="trocar-pagina btn-5">◄</button></a>
            <a style="color: black;" href="/trilha"><button class="retornar-trilha btn-5">Retornar a Trilha!</button></a>
            <a style="color: black;" href="/teste"><button class="trocar-pagina btn-5">►</button></a>        
        </div>
    </div>

    <br>
    {% endblock %}

</body>

</html>