<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block titulo %}

    {% endblock titulo %}
    <!-- formatação -->
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- responsividade no celular -->
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/normalize.css">

    <link rel="icon" type="image/png" href="../static/img/logosite.png"/>

    <!-- CDN Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- fonte -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&display=swap">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- cabeçalho -->
    <nav class="navbar navbar-expand-lg py-1" style="background-color: #18a0fb">
        <div class="container-fluid">
            <div class="d-flex flex-grow-1">
                <span class="w-100 d-lg-none d-block"></span>
                <a class="navbar-brand" href="/">
                    <h2 class="ddt"><b><i>DDT</i></b></h2>
                </a>
                <div class="w-100 text-right">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#myNavbar7">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
            <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar7">
                <ul class="navbar-nav ms-auto flex-nowrap">
                    <li class="nav-item">
                        <div class="aprenda">
                            <a href="/" class="nav-link active text-black"><b>Home</b></a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="aprenda">
                            <a href="/trilha" class="nav-link active text-black"><b>Trilha de aprendizado</b></a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <li class="nav-item dropdown">
                            <div class="aprenda" style="padding-right: 70px;">
                                <a class="nav-link dropdown-toggle text-black" href="/trilha" data-bs-toggle="dropdown" aria-expanded="false"><b>Menu rápido</b></a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item text-center" href="/pilares"><b>Pilares</b></a></li>
                                    <li><a class="dropdown-item text-center" href="/equipe"><b>Equipe</b></a></li>
                                    <li><a class="dropdown-item text-center" href="/artefatos"><b>Artefatos</b></a></li>
                                    <li><a class="dropdown-item text-center" href="/eventos"><b>Eventos</b></a></li>
                                    <li><a class="dropdown-item text-center" href="/avaliacao"><b>Avaliações</b></a></li>
                                    <li><a class="dropdown-item text-center" href="/teste"><b>Teste</b></a></li>
                            </div>
                            </ul>
                        </li>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- corpo -->
    {% block conteudo %}

    {% endblock %}


    <!-- rodapé -->
    <div class="navbot">
        <div class="center">
            <ul class="links">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    |
                </li>
                <li>
                    <a href="https://github.com/erickhoawata/DDT-1-Bim">© DDT 2023</a>
                </li>
            </ul> 
        </div>
    </div>
    <!-- <div class="navbot row gx-4 gx-lg-5">
            <div class="ddt col-lg-6 col-md-6">
                <h1>DDT</h1>
            </div>
            <div class="col-lg-6 col-md-6">
                <ul class="links">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="https://github.com/erickhoawata/DDT-1-Bim">© DDT 2023</a>
                    </li>
                </ul>
            </div> -->

    </div>
    <div class="navbot2">
        <p class="center">“Scrum: gere valor, supere expectativas, entregue resultados.”</p>
    </div>
</body>
</html>

# DDT 1ºBim

## Índice

- [O que é a DDT?](#-o-que-é-a-ddt)
  - [Desafio](#-desafio)
  - [Equipe](#-equipe)
- [Requisitos Funcionais](#-requisitos-funcionais)
- [Requisitos Não Funcionais](#-requisitos-não-funcionais)
- [Planejamento de Entregas](#-planejamento-de-entregas)
- [MVP](#-mvp)
- [Tecnologias](#-tecnologias-utilizadas)
  - [HTML](#html)
  - [CSS](#css)
  - [Bootstrap](#bootstrap)
  - [Python](#python)
  - [Flask](#flask)
  - [GitHub](#github)
  - [JavaScript](#javascript)
- [Ferramentas](#-ferramentas-utilizadas)
  - [Excel](#excel)
  - [Power Point](#powerpoint)
  - [Trello](#trello)
  - [Figma](#figma)
  - [Visual Studio Code](#visual-studio-code)
  - [Canva](#canva)
  - [StorySet](#storyset)
- [Acesso para o Protótipo](#-link-para-o-protótipo-desenvolvido-no-figma-)
- [Site em HTML e CSS](#-site-desenvolvido-em-html-e-css-)

<br>

## 📊 O que é a DDT

DDT (Development Dream Team), é um time de desenvolvimento web do 1°Bimestre de Análise e Desenvolvimento da FATEC São José dos Campos - Prof. Jessen Vidal. A equipe possui como objetivo principal desenvolver  um  sistema  web que  indique  todos  os  processos  e  artefatos  da  metodologia  ágil (Scrum), com foco em deixar a aplicação fácil e intuitiva, proporcionando maior experiência para o usuário para que o mesmo possa aplicar as informações adiquiridas nos seus projetos futuros.

<br>

## 🎯 Desafio

Desenvolver  um  sistema  web que  indique  todos  os  processos  e  artefatos  da  metodologia  ágil (Scrum),  todos os processos deverão  ter conceitos  e  fundamentos  com  referências,  bem  como  a aplicação com exemplos práticos para aplena compreensão do usuário do sistema.

<br>

## 👨‍💻 Equipe
<div align="center">
  
|Nome|Função|GitHub|Linkedin|
| -------- |-------- |-------- |-------- |
|**Erick Hideki Oyakawa Awata**|Scrum Master|[@GitHub](https://github.com/erickhoawata)|[@Linkedin](http://linkedin.com/in/érick-awata)
|**Ryan Seiji Wakugawa**|Product Owner|[@GitHub](https://github.com/ryan-wakugawaa)|[@Linkedin]()
|**Maria Eduarda Peleteiro Leite**|Desenvolvedor|[@GitHub](https://github.com/Dudaleite08">)|[@Linkedin]()
|**Pedro Santos Kajiya**|Desenvolvedor|[@GitHub](https://github.com/kajiyap)|[@Linkedin](https://www.linkedin.com/in/pedro-santos-kajiya-65763b260/)
|**Cauã Nascimento Coelho Sbruzi Dezidera**|Desenvolvedor|[@GitHub](https://github.com/CauaDezidera)|[@Linkedin]() 
<br>  
  
</div>

## 🔧 Requisitos funcionais
- [x] Linguagem Python (Requisito Fatec)
- [x] Linguagem HTML e CSS (Requisito Fatec)
- [x] Uso do framework Bootstrap
- [x] Sistema Web intuitivo, simples e prático para facilitar a absorção do conteúdo
- [x] Criar um sistema de avaliação (Processo, Produto e Conhecimento em disciplina, Scrum Master, Product Owner, Time de Desenvolvimento)
- [x] Ensinar o usuário sobre os pilares, artefatos, equipe, eventos e suas ramificações.

<br>

## 🔗 Requisitos não funcionais
- [x] Documentação via Github
- [x] Linguagem de programação Python, framework Flask.
- [x] Linguagem de marcação HTML e CSS.

<br>


## 🗂 Planejamento de Entregas
<div align="center">

![Entregas](https://github.com/erickhoawata/DDT-1-Bim/assets/126245787/03a5b896-b549-44bc-a818-718181f9e67b)

</div>

<br>

## 🏆 MVP
<div align="center">

![entregas](https://github.com/erickhoawata/DDT-1-Bim/assets/126245787/fd372dae-0e6e-4607-91e4-c85e903c27d8)


</div>

<br>

## 🛠 Tecnologias utilizadas</h2>

### HTML
> Foi utilizado para o desenvolvimento do Front-End do site, responsável pela inserção dos textos, imagens e tabela.
### CSS
> Foi utilizado para o desenvolvimento do Front-End do site, responsável pelo tamanho da fonte e das imagens, cores, efeitos do site e organização.
### Bootstrap
> Foi utilizado para o desenvolvimento do Front-End do site, responsável pelo funcionamento da NavBar, opções de responsividade e cards da trilha de aprendizado.
### JavaScript
> Foi utilizado para o desenvolvimento do Front-End do site, responsável por efeitos visuais do site.
### Python
> Foi utilizado para o desenvolvimento do Back-End do site, responsável pelo funcionamento da tabela, por executar o Flask e o redirecionamento do usuário nas páginas do site.
### Flask 
> Foi utilizado para o desenvolvimento do Back-End do site, responsável por executar a base do site e redirecionamento juntamente com o Python.
### GitHub
> Foi utilizado para o versionamento de código, facilitando o trabalho em conjunto da equipe e para documentação do projeto.


## 🛠 Ferramentas utilizadas</h2>

### Excel
> Foi utilizado para o organização da equipe, divisão das tarefas, responsável por cada uma e vizualização do andamento da equipe em relação as sprints.
### PowerPoint
### Trello
### Figma
### Visual Studio Code
### Canva
### Storyset

**<h2>🔗 Link para o protótipo desenvolvido no Figma </h2>**
O protótipo no Figma, foi desenvolvido para receber a aprovação prévia do cliente e para a vizualização do projeto sem que todo o código tenha que ser baixado.<br>

<div align="center">
<a href="https://www.figma.com/file/tDrqLQKNsiGbglnTp2CcwX/Prot%C3%B3tipo-API?node-id=0%3A1&t=iDi9wkiwjeJAybF1-1">Clique aqui para acessar o nosso protótipo</a><br>
</div>

**<h2>🖥 Site desenvolvido em HTML e CSS </h2>**
Site desenvolvido pela equipe DDT, onde procuramos entregar o máximo de valor em cada sprint.

<div align="center">

![Prototipo](src/api.gif)

</div>

<div align="center">

https://github.com/erickhoawata/DDT-1-Bim/assets/126245787/da5ee34f-5867-4ed7-9f38-a1de1a88547b

</div >


