<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>nome da página</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="navtop">
        <div class="titulo"><h1>DDT</h1></div>
        <div class="links">
             <button href="aprendaconosco.html">Aprenda consco</button>
             <button href="contato.html">Contato</button>
        </div>
    </div>


    <!-- corpo -->


    <!-- rodapé -->
</body>
</html>