<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>nome da página</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&display=swap" rel="stylesheet">
</head>
<body>
     <!-- cabeçalho -->
     <div class="navtop">
        <div class="titulo"><h1>DDT</h1></div>
        <ul class="links">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li class="dropdown">
                <a href="">Aprenda Conosco</a>

                <div class="dropdown-menu">
                        <a href="">Três Pilares</a>
                        <a href="artefatos.html">Artefatos</a>
                        <a href="equipe.html">Equipe</a>
                        <a href="">Ferramentas</a>
                        <a href="Avaliações.html">Avaliações</a>
                        <a href="">Eventos</a>
                </div>
            </li>
            <li>
                <a href="contato.html">Contato</a>
            </li>
        </ul>
    </div>



    <!-- corpo -->


    <!-- rodapé -->
</body>
</html>
