<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipe</title>
    <link rel="stylesheet" href="../static/css/styles.css"
</head>
<body>
    <!-- cabeçalho -->

    <!-- equipe -->
    <h1>Equipe Scrum</h1>
    <p>Embora todos os membros tenham importância, existem funções diferentes dentro de uma equipe Scrum:
    <ul>
        <li>Scrum Master</li>
        <li>Product Owner</li>
        <li>Time de Desenvolvimento</li>
    </ul>
    </p>
    <hr>

    <!-- scrum master -->
    <h2>Scrum Master (SM)</h2>
    <p>Responsável por garantir que a equipe esteja seguindo as práticas ágeis e as regras do Scrum, além de facilitar o processo de desenvolvimento, removendo obstáculos e ajudando a equipe a se tornar cada vez mais autogerenciável. É aquele que mais deve conhecer sobre a metodologia Scrum.</p>

    <!-- product owner -->
    <h2>Product Owner (PO)</h2>
    Responsável por definir e priorizar as funcionalidades do produto, trabalhando em estreita colaboração com os stakeholders para garantir que as necessidades dos usuários finais sejam atendidas. O Product Owner é responsável por manter o Product Backlog atualizado, de forma que a equipe possa trabalhar nas tarefas mais importantes em cada Sprint. É aquele que mais entra em contato direto com o cliente.

    <!-- Time de desenvolvimento -->
    <h2>Time de Desenvolvimento (Dev Team)</h2>
    Responsável por criar o produto, transformando as funcionalidades definidas pelo Product Owner em software funcional. O Time de Desenvolvimento é uma equipe multifuncional e auto-organizável, que trabalha em conjunto para completar as tarefas do Sprint.

    <hr>

    <!-- retornar a trilha -->
    <div class="center">
    <img src="../static/img/" class="center" alt="trofeu trilha"><br>
    Agora você já sabe quais são as funções de um time Scrum!<br>
    Retorne a trilha para o próximo aprendizado!<br>
    <button type="button">Retornar à trilha</button>
    </div>
</body>
</html>