<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'base.html' %}

    {% block titulo %}
    <title>Equipe</title>
    {% endblock %}
</head>
<body>
    {% block conteudo %}

    <!-- corpo -->
    <div class="corpo">
        <h1>Equipe Scrum</h1>
        
        <!-- equipe -->
        <div class="container">
            <div class="left">
                <p>
                    Embora todos os membros tenham importância, existem funções diferentes dentro de uma equipe Scrum:
                <ul>
                    <li>Scrum Master</li>
                    <li>Product Owner</li>
                    <li>Time de Desenvolvimento</li>
                </ul>
                </p>
            </div>
            <div>
                <img src="../static/img/equipe.svg" alt="equipe">
            </div>
        </div>

        <hr>

        <!-- scrum master -->
        <h1>Scrum Master (SM)</h1>
        <div class="container">
            <div class="left">
                <p>Responsável por garantir que a equipe esteja seguindo as práticas ágeis e as regras do Scrum, além de facilitar o processo de desenvolvimento, removendo obstáculos e ajudando a equipe a se tornar cada vez mais autogerenciável. É aquele que mais deve conhecer sobre a metodologia Scrum.</p>
            </div>
            <div>
                <img src="../static/img/scrummaster.svg" alt="Scrum Master">
            </div>
        </div>

        <!-- product owner -->
        <h1>Product Owner (PO)</h1>
        <div class="container">
            <div>
                <img src="../static/img/productowner.svg">
            </div>
            <div class="right">
                <p>Responsável por definir e priorizar as funcionalidades do produto, trabalhando em estreita colaboração com os stakeholders para garantir que as necessidades dos usuários finais sejam atendidas. O Product Owner é responsável por manter o Product Backlog atualizado, de forma que a equipe possa trabalhar nas tarefas mais importantes em cada Sprint. É aquele que mais entra em contato direto com o cliente.</p>
            </div> 
        </div>

        <!-- Time de desenvolvimento -->
        <h1>Time de Desenvolvimento (Dev Team)</h1>
        <div class="container">
            <div class="left">
                Responsável por criar o produto, transformando as funcionalidades definidas pelo Product Owner em software funcional. O Time de Desenvolvimento é uma equipe multifuncional e auto-organizável, que trabalha em conjunto para completar as tarefas do Sprint.
            </div>
            <div>
                <img src="../static/img/devteams.svg">
            </div>
        </div> 

        <hr>


        <!-- retornar a trilha -->

        <div class="center">
            <img src="../static/img/trofeu.svg" class="center" alt="trofeu trilha"><br>
            Agora você já sabe como avaliar seu time Scrum!<br>
            Retorne a trilha para o próximo aprendizado!<br>
            <br>
            <button type="button" class="bottrilha"><a href="trilha.html">Retornar à trilha</a></button>
        </div>
    </div>

    <br>

{%endblock%}
</body>
</html>