<!DOCTYPE html>
<html lang="pt-BR">
<head>
    {% extends 'base.html' %}

    {% block titulo %}
    <title>Equipe</title>
    {% endblock %}
</head>
<body>
    {% block conteudo %}

    <!-- corpo -->
    <div class="corpo">
        <h1>Equipe Scrum</h1>
        
        <!-- equipe -->
        <div class="container1">
            <div class="left">
                <p>
                    Embora todos os membros tenham importância, existem funções diferentes dentro de uma equipe Scrum:
                <ul>
                    <li>Scrum Master</li>
                    <li>Product Owner</li>
                    <li>Time de Desenvolvimento</li>
                </ul>
                </p>
            </div>
            <div>
                <img src="../static/img/equipe.svg" alt="equipe">
            </div>
        </div>
        <!--Botao do colaspe-->
        <div>
                <button type="button" class="collapsible">Clique para acessar o vídeo!</button>
                <div class="content">
                    <iframe class="center" src="https://www.youtube.com/embed/ODgwO5FVzKE" frameborder="0" width="800" height="500"></iframe>
                </div>
                <script>
                    var coll = document.getElementsByClassName("collapsible");
                    var i;
                    
                    
                    for (i = 0; i < coll.length; i++) {
                      coll[i].addEventListener("click", function() {
                        this.classList.toggle("active");
                        var content = this.nextElementSibling;
                        if (content.style.display === "block") {
                          content.style.display = "none";
                        } else {
                          content.style.display = "block";
                        }
                      });
                    }
                    
                </script>
                </div>
            <div><br><br>

        <!-- scrum master -->
        <h1>Scrum Master (SM)</h1>
        <div class="container1">
            <div class="left">
                <br><br>
                <p>Responsável por garantir que a equipe esteja seguindo as práticas ágeis e as regras do Scrum, além de facilitar o processo de desenvolvimento, removendo obstáculos e ajudando a equipe a se tornar cada vez mais autogerenciável. É aquele que mais deve conhecer sobre a metodologia Scrum.</p>
            </div>
            <div>
                <img src="../static/img/scrummaster.svg" alt="Scrum Master">
            </div>
        </div>

        <!-- product owner -->
        <h1>Product Owner (PO)</h1>
        <div class="container1">
            <div>
                <img src="../static/img/productowner.svg">
            </div>
            <div class="right">
                <br>
                <p>Responsável por definir e priorizar as funcionalidades do produto, trabalhando em estreita colaboração com os stakeholders para garantir que as necessidades dos usuários finais sejam atendidas.
                    <br><br> O Product Owner é responsável por manter o Product Backlog atualizado, de forma que a equipe possa trabalhar nas tarefas mais importantes em cada Sprint. É aquele que mais entra em contato direto com o cliente.</p>
            </div> 
        </div>

        <!-- Time de desenvolvimento -->
        <h1>Time de Desenvolvimento (Dev Team)</h1>
        <div class="container1">
            <div class="left">
                <br><br><br>
                Responsável por criar o produto, transformando as funcionalidades definidas pelo Product Owner em software funcional. <br><br> O Time de Desenvolvimento é uma equipe multifuncional e auto-organizável, que trabalha em conjunto para completar as tarefas do Sprint.
            </div>
            <div>
                <img src="../static/img/devteams.svg">
            </div>
        </div> 

        <hr>

    </div>
        <!-- retornar a trilha -->

        <div class="center">
                <img src="../static/img/trofeu.svg" class="center" alt="trofeu trilha"><br>
                Agora você já sabe sobre seu time Scrum!<br>
                Retorne a trilha para o próximo aprendizado!<br>
                <br>
                <div class="frame">
                    <button class="custom-btn btn-5"><a href="/trilha">Retornar a Trilha!</a></button>
                </div>
            </div>
        </div>
    
        <br>

{%endblock%}
</body>
</html>
