<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eventos do Scrum</title>
    <!-- formatação -->
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/normalize.css">

    <!-- fonte -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&display=swap">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&display=swap" rel="stylesheet">
</head>
<body>

    <!-- cabeçalho -->
    <div class="navtop">
        <div class="ddt"><h1>DDT</h1></div>
        <ul class="links">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li class="dropdown">
                <a href="">Aprenda Conosco</a>

                <div class="dropdown-menu">
                        <a href="pilares.html">Três Pilares</a>
                        <a href="artefatos.html">Artefatos</a>
                        <a href="equipe.html">Equipe</a>
                        <a href="Avaliações.html">Avaliações</a>
                        <a href="eventos.html">Eventos</a>
                </div>
            </li>
            <li>
                <a href="contato.html">Contato</a>
            </li>
        </ul>
    </div>



    <div class="corpo">
        <!-- introdução -->
        <h1>Eventos do Método Scrum</h1>
        <div class="container">
            <div class="left">
                Eventos são usados no Scrum para criar uma regularidade e minimizar a necessidade de reuniões não definidas no Scrum.Os eventos restantes podem terminar sempre que o propósito do evento é alcançado, garantindo que uma quantidade adequada de tempo seja gasta não permitindo desperdícios no processo. Além da Sprint, que é um container para outros eventos, cada evento no Scrum é uma oportunidade de inspecionar e adaptar alguma coisa. Estes eventos são especificamente projetados para permitir uma transparência e inspeção criteriosa.
            </div>
            <div>
                <img class="imgev1" src="../static/img/event5.png" alt="event5">
            </div>
        </div>
    <hr>
        <div>

            <!--Sprint-->
        <h1>Sprint</h1>
        <div class="container">
            <div class="left">
                É o principal evento do Framework Scrum, pode ser exemplificada como um “container” dos outros eventos. Uma sprint pode durar de 1 semana a 1 mês, com uma média de duração de 2 semanas. Normalmente tem duração fixa, mas pode ser alterada com base em reuniões da equipe.Ao final de cada sprint, um novo incremento do projeto é concluído e pode ser adicionado ao projeto do cliente, e uma sprint só pode ser iniciada ao término da anterior.Uma sprint tem a participação  de toda a equipe (Product Owner, Scrum Master e Time de Desenvolvimento.),  e possuí uma meta, que se perder o sentido deve ser cancelada.
            </div>
            <div>
                <img class="imgev1" src="../static/img/event1.png" alt="event1">
            </div>
        </div>
    <hr>

            <!--pt1-->
        <h2>A Sprint é composta por:</h2>
        <div class="container">
            <div class="left1">
                <b>Sprint planning</b>
                <br><br>
                Tem que durar no máximo 8 horas, podendo ser fragmentada em duas reuniões de 4 horas.O objetivo da sprint planning é criar o sprint backlog, para isso o Product Owner apresenta o Product Backlog, com as metas  e prioridades, e a equipe apresenta suas opiniões e se compromete com a entrega discutida.
            </div>
            <div ><img  class="imgev1" src="../static/img/event3.png" alt="event2"></div>
        </div>

            <!--pt2-->
        <div class="container">
            <div class="elemento" ><img class="imgev1" src="../static/img/event2.png" alt="event3"></div>
            <div class="left1">
                <b>Daily scrum meeting</b>
                <br><br>
                Tem uma duração máxima de 15 min, ou seja, é uma reunião curta que deve ser feita com todos em pé para discutir dois principais tópicos:
                <ul>
                    <li>O que pretendo fazer até a próxima daily scrum meeting?</li>
                    <li>O que me impede de fazer isso?</li>
                </ul>
                O Scrum Master modera e anota os impedimentos, e o Product Owner se mantém informado.
            </div>
        </div>
            <!--pt3-->
        <div class="container">
            <div class="left1">
                <b>Sprint Review meeting</b>
                <br><br>
                Sua duração total deve ser de 4 horas com no máximo 1 hora de apresentação por pessoa.
                O time apresenta ao Product Owner o que foi realizado na sprint, e para isso nada de maquetes ou power points, a funcionalidade do produto deve ser mostrada em pleno funcionamento .
                Com base no que foi mostrado, o feedback do Product Owner e/ou das partes interessadas é essencial para saber se aquilo será utilizado, aprimorado ou descartado.
            </div>
            <div class="elemento"><img class="imgev1" src="../static/img/event4.png" alt="event4"></div>
        </div>
            <!-- pt4 -->
        <div class="container">
            <div class="elemento"><img class="imgev1" src="../static/img/event6.png" alt="event6"></div>
            <div class="left1">
                <b>Sprint Retrospective</b>
                <br><br>
                Essa reunião deve ter no máximo 3 horas e é moderada pelo Scrum Master. Aqui devem discutir como foi a sprint: o que deu certo, o que deu errado, o que precisa ser melhorado para uma produção mais eficiente ou até divertida.
            </div>
        </div>
            

        </div>
        <hr>
    </div>

   
    
 
    <!-- retornar a trilha -->
    <div class="center">
        <img src="../static/img/trofeu.svg" class="center" alt="trofeu trilha"><br>
        Agora você já sabe quais são os eventos de um time Scrum!<br>
        Retorne a trilha para o próximo aprendizado!<br>
        <br>
        <button type="button" class="bottrilha">Retornar à trilha</button>
    </div>
    <br>
    <!-- rodapé -->
    <div class="navbot">
        <div class="ddt"><h1>DDT</h1></div>
        <ul class="links">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="contato.html">Contato</a>
            </li>
            © DDT. 2023. Método Scrum
        </ul>
    </div>
    <div class="navbot2">
        <p class="center">“Scrum: gere valor, supere expectativas, entregue resultados.”</p>
    </div>
</body>
</html>