<!DOCTYPE html>
<html lang="pt-BR">

<head>
    {% extends 'base.html' %}

    {% block titulo %}
    <title>Eventos</title>
    {% endblock %}
</head>

<body>
    {% block conteudo %}

    <div class="corpo">
        <!-- introdução -->
        <h1>Eventos do Método Scrum</h1>
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-6 col-md-6 mx-auto my-auto" style="max-width: 600px;">
                Eventos são usados no Scrum para criar uma regularidade e minimizar a necessidade de reuniões não
                definidas no Scrum. Os eventos restantes podem terminar sempre que o propósito do evento é alcançado,
                garantindo que uma quantidade adequada de tempo seja gasta não permitindo desperdícios no processo. <br><br> Além
                da Sprint, que é um container para outros eventos, cada evento no Scrum é uma oportunidade de
                inspecionar e adaptar alguma coisa. Estes eventos são especificamente projetados para permitir uma
                transparência e inspeção criteriosa.
            </div>
            
            <div class="col-lg-6 col-md-6 mx-auto my-auto" style="max-width: 600px;">
                <img class="imgev1" src="../static/img/event5.png" alt="event5">
            </div>
        </div>

        <!--Botao do colaspe-->
        <div class="botao-eve">
            <button type="button" class="collapsible"><b>Clique para acessar o vídeo! </b>  
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                </svg>
            </button>
            <div class="content">
                <iframe class="center" src="https://www.youtube.com/embed/jf9q5hBY7CE" frameborder="0" width="800" height="500"></iframe>
            </div>
            <script>
                var coll = document.getElementsByClassName("collapsible");
                var i;
                
                
                for (i = 0; i < coll.length; i++) {
                  coll[i].addEventListener("click", function() {
                    this.classList.toggle("active");
                    var content = this.nextElementSibling;
                    if (content.style.display === "block") {
                      content.style.display = "none";
                    } else {
                      content.style.display = "block";
                    }
                  });
                }
                
            </script>
            </div>
        <div>
           
            <!--Sprint-->
            <h1>Sprint</h1>
            <div class="row gx-4 gx-lg-5">
                <div class="col-lg-6 col-md-6 mx-auto my-auto" style="max-width: 600px;">
                    <img class="imgev1" src="../static/img/event1.png" alt="event1">
                </div>
                <div class="col-lg-6 col-md-6 mx-auto my-auto" style="max-width: 600px;">
                    <p> É o principal evento do Framework Scrum, pode ser exemplificada como um “container” dos outros
                        eventos. Uma sprint pode durar de 1 semana a 1 mês, com uma média de duração de 2 semanas.
                        Normalmente tem duração fixa, mas pode ser alterada com base em reuniões da equipe. <br><br> Ao final de cada
                        sprint, um novo incremento do projeto é concluído e pode ser adicionado ao projeto do cliente, e uma
                        sprint só pode ser iniciada ao término da anterior. <br><br> Uma sprint tem a participação de toda a equipe
                        (Product Owner, Scrum Master e Time de Desenvolvimento.), e possuí uma meta, que se perder o sentido
                        deve ser cancelada.
                    </p>
                </div>
            </div>
            <hr>

            <!--pt1-->
            <h1>A Sprint é composta por:</h1>
            <div class="row gx-4 gx-lg-5">
                <div class="col-lg-6 col-md-6 mx-auto my-auto" style="max-width: 600px;">

                    <b>Sprint Planning</b>
                   
                    Tem que durar no máximo 8 horas, podendo ser fragmentada em duas reuniões de 4 horas. <br><br> O objetivo da
                    sprint planning é criar o sprint backlog, para isso o Product Owner apresenta o Product Backlog, com
                    as metas e prioridades, e a equipe apresenta suas opiniões e se compromete com a entrega discutida.
                </div>
                <div class="col-lg-6 col-md-6 mx-auto my-auto" style="max-width: 600px;">
                    <img class="imgev1" src="../static/img/event3.png" alt="event2">
                </div>
            </div>
            <hr>

            <!--pt2-->
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-6 col-md-6 mx-auto my-auto" style="max-width: 600px;">
                    <img class="imgev1" src="../static/img/event2.png" alt="event3">
                </div>
                <div class="col-lg-6 col-md-6 mx-auto my-auto" style="max-width: 600px;">
                    <b>Daily Scrum Meeting</b>
                   
                    Tem uma duração máxima de 15 min, ou seja, é uma reunião curta que deve ser feita com todos em pé
                    para discutir dois principais tópicos:
                    <ul>
                        <li>O que pretendo fazer até a próxima daily scrum meeting?</li>
                        <li>O que me impede de fazer isso?</li>
                    </ul>
                    O Scrum Master modera e anota os impedimentos, e o Product Owner se mantém informado.
                </div>
            </div>
            <hr>
            <!--pt3-->
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-6 col-md-6 mx-auto my-auto" style="max-width: 600px;">
    
                        <b>Sprint Review Meeting</b>
                        
                        Sua duração total deve ser de 4 horas com no máximo 1 hora de apresentação por pessoa.
                        O time apresenta ao Product Owner o que foi realizado na sprint, e para isso nada de maquetes ou
                        power points, a funcionalidade do produto deve ser mostrada em pleno funcionamento. <br><br>
                        Com base no que foi mostrado, o feedback do Product Owner e/ou das partes interessadas é essencial
                        para saber se aquilo será utilizado, aprimorado ou descartado.
                    </div>    
                    <div class="col-lg-6 col-md-6 mx-auto my-auto" style="max-width: 600px;">
                        <img class="imgev1" src="../static/img/event4.png" alt="event2">
                    </div>
                </div>
            <hr>
        <!-- pt4 -->
            <div class="row gx-4 gx-lg-5">
                <div class="col-lg-6 col-md-6 mx-auto my-auto" style="max-width: 600px;">
                    <img class="imgev1" src="../static/img/event6.png" alt="event6">
                </div>
                <div class="col-lg-6 col-md-6 mx-auto my-auto" style="max-width: 600px;">
                    <b>Sprint Retrospective</b>
                    Essa reunião deve ter no máximo 3 horas e é moderada pelo Scrum Master. Aqui devem discutir como foi
                    a sprint: o que deu certo, o que deu errado, o que precisa ser melhorado para uma produção mais
                    eficiente ou até divertida.
                </div>
            </div>
        </div>
        <br>
    
        <div>
            <button type="button" class="collapsible1"><b>Clique para ver mais!</b> 
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                    <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                </svg>
            </button>
            <div class="content1">
                <ul>
                    <br>
                    <li><b>Como fazer a Sprint Planning?</b></li>
                    <br>
                    O sprint planning ou planejamento do projeto é considerada
                    a principal etapa do método scrum, pois nesse evento o time 
                    scrum se reúne e têm uma visão geral do produto e das tarefas
                    a serem executadas.
                    <br><br>
                    Para o sprint planning recomendamos um site chamado Trello, 
                    essa ferramenta possibilita a criação de quadros organizacionais e 
                    auxilia no planejamento da equipe e na transparência.
                    <br><br>
                    O quadro organizacional deve ser composto por 3 colunas:<br>
                    To do (tarefas a serem feitas), Doing (tarefas que estão sendo
                    executadas) e Done (tarefas já realizadas).

                    <br><br>
                    <li><b>Como fazer a Daily Scrum?</b></li>
                    <br>
                    A daily scrum é uma reunião entre a equipe que deve ser efetuada
                    no mínimo 4x na semana e deve ter uma duração máxima de 15
                    minutos.

                    Nessa reunião são levantadas as seguintes perguntas:
                    <br><br>
                    <ul>
                        <li>O que eu fiz ontem?</li>
                        <li>O que eu vou fazer hoje?</li>
                        <li>Tem algo que me impede de efetuar as tarefas de hoje?</li>

                    </ul>
                    <br>
                    O scrum master da equipe deve anotar essas respostas e auxiliar
                    a equipe assim que possível.

                    <br><br>
                    <li><b>Como fazer a Sprint Review Meeting?</b></li>
                    <br>
                    A sprint review é basicamente uma apresentação do desempenho 
                    da equipe na sprint. Essa apresentação deve ser feita pelo Product
                    Owner do time scrum, que mostrará o produto com as principais
                    funcionalidades, algumas alterações que devem ser previamente
                    combinadas com o cliente.
                    
                    Essa apresentação deve ser bem curta e direta, com o objetivo
                    de 'vender' o produto para o cliente em poucos minutos, o famoso
                    Pitch. Após essa apresentação, o cliente dará o feedback e caso
                    seja necessário, apontará algumas mudanças que mais lhe agradam.

                    <br><br>
                    <li><b>Como fazer a Sprint Retrospective?</b></li>
                    <br>
                    A sprint retrospective é uma reunião que é feita após o término 
                    da sprint, nela devem ser apontadas ideias para melhorar o desempenho
                    da equipe, os pontos positivos e negativos da sprint e o destaque 
                    da equipe.   
                </ul>
                <br>
            </div>
            <script>
                var coll = document.getElementsByClassName("collapsible1");
                var ii;


                for (ii = 0; ii < coll.length; ii++) {
                    coll[ii].addEventListener("click", function () {
                        this.classList.toggle("active");
                        var content1 = this.nextElementSibling;
                        if (content1.style.display === "block") {
                            content1.style.display = "none";
                        } else {
                            content1.style.display = "block";
                        }
                    });
                }

            </script>
            <hr>
    </div>
<br><br>

    <!-- retornar a trilha -->

    <div class="center">
        <img src="../static/img/trofeu.svg" class="center" alt="trofeu trilha"><br>
        Agora você já sabe quais são os eventos do metódo Scrum!<br>
        Retorne a trilha para o próximo aprendizado!<br>
        <br>
        <div class="frame">
            <a style="color: black;" href="/trilha"><button class="custom-btn btn-5">Retornar a Trilha!</button></a>
        </div>
    </div>
    </div>

    <br>

    {%endblock%}
</body>

</html>