<!DOCTYPE html>
<html lang="pt-BR">

<head>
{% extends 'base.html' %}

{% block titulo %}
<title>DDT - Método Scrum!</title>
{% endblock %}
</head>

<body>
    {% block conteudo %}
    <!-- cabeçalho -->

    <!-- imagem -->
    <div>
        <img src="../static/img/fundo home (2).png" class="imghome">
    </div>
    <div class="corpo">

        <!--Botao do colaspe-->
        <div>
                <button type="button" class="collapsible"><b>Clique para acessar o vídeo de introdução! </b>  
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                        <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                    </svg>
                </button>
                <div class="content">
                    <iframe class="center" src="https://www.youtube.com/embed/ZPuRcOg6lTM" frameborder="0" width="800"
                        height="500"></iframe>
    
                </div>
                <script>
                    var coll = document.getElementsByClassName("collapsible");
                    var i;
    
    
                    for (i = 0; i < coll.length; i++) {
                        coll[i].addEventListener("click", function () {
                            this.classList.toggle("active");
                            var content = this.nextElementSibling;
                            if (content.style.display === "block") {
                                content.style.display = "none";
                            } else {
                                content.style.display = "block";
                            }
                        });
                    }
    
                </script>
            </div>
            <br>

        
   <!-- metodo scrum -->     
        <h1>Método Scrum</h1>
        <h2>Introdução</h2>
        <div class="container1">
            <p class="elemento">
                Scrum é uma metodologia empregada no <b>gerenciamento de projetos</b> complexos, para facilitar a vizualização
                dos processos de maneira mais <b>simples</b> e <b>clara</b>, mantendo registros visíveis do andamento das etapas.
                <br><br>

                A metodologia é aplicado a partir de <b>ciclos rápidos</b>, chamados de <b>sprints</b>, nos quais há um tempo
                determinado para que as atividades sejam concluídas - geralmente, entre <b>duas</b> e <b>quatro semanas</b>.
            </p>
            <div class="espaco"></div>
            <div class="elemento">
                <p>
                    Priorizando a <b>criatividade</b> e a <b>fluidez</b> nos processos, o Scrum segue seis principais princípios:
                </p>
                <ul>
                    <li>Flexibilidade dos resultados</li>
                    <li>Flexibilidade dos prazos</li>
                    <li>Times pequenos</li>
                    <li>Revisões constantes</li>
                    <li>Colaboração</li>
                    <li>Orientação a projetos</li>
                </ul>
            </div>
            
        </div>
        <br><br>
        <hr>
        <!-- historia-->
        <h2>História</h2>
        <div class="container1">
            <p class="elemento">
                O scrum foi idealizado em 1993, por três programadores que
                formularam o <b>Manifesto Ágil</b>: Mike Beedle, Ken Schwaber, e Jeff 
                Sutherland.<br><br>

                O método ágil foi criado, pois os desenvolvedores estavam
                insatisfeitos com o <b>formato de cascata</b> utilizado no processo de
                produção de softwares e resolveram buscar <b>alternativas mais
                eficazes</b>.<br><br>

                Eles perceberam que os líderes dedicavam meses na elaboração
                de planos detalhados que quase nunca se compriam.
            </p>
            <div class="espaco"></div>
            <div class="elemento">
                <p>
                    A partir de estudos de caso, em especial das <b>boas práticas</b>
                    implementadas na indústria japonesa (<b>Toyota</b> e <b>Honda</b>), os
                    programadores chegaram aos princípios scrum.<br><br>

                    O nome dessa ferramenta veio do universo do <b>Rugby</b>, no qual
                    Scrum corresponde a uma <b>reunião breve</b>, feita antes de os
                    jogadores iniciarem um lance.<br><br>

                    Da mesma forma, a metodologia Scrum inclui a <b>realização de
                    reuniões rápidas diariamente</b>, a fim de que todos sejam
                    informados sobre o <b>andamento do projeto</b> e os <b>próximos
                    passos</b>.
            </div>
        </div>
        <hr>

        <!-- começar a trilha -->
        <div class="frame">
            <button class="custom-btn btn-5"><a href="/trilha"><b>Vamos começar a Trilha! <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-rocket-takeoff-fill" viewBox="0 0 16 16">
                <path d="M12.17 9.53c2.307-2.592 3.278-4.684 3.641-6.218.21-.887.214-1.58.16-2.065a3.578 3.578 0 0 0-.108-.563 2.22 2.22 0 0 0-.078-.23V.453c-.073-.164-.168-.234-.352-.295a2.35 2.35 0 0 0-.16-.045 3.797 3.797 0 0 0-.57-.093c-.49-.044-1.19-.03-2.08.188-1.536.374-3.618 1.343-6.161 3.604l-2.4.238h-.006a2.552 2.552 0 0 0-1.524.734L.15 7.17a.512.512 0 0 0 .433.868l1.896-.271c.28-.04.592.013.955.132.232.076.437.16.655.248l.203.083c.196.816.66 1.58 1.275 2.195.613.614 1.376 1.08 2.191 1.277l.082.202c.089.218.173.424.249.657.118.363.172.676.132.956l-.271 1.9a.512.512 0 0 0 .867.433l2.382-2.386c.41-.41.668-.949.732-1.526l.24-2.408Zm.11-3.699c-.797.8-1.93.961-2.528.362-.598-.6-.436-1.733.361-2.532.798-.799 1.93-.96 2.528-.361.599.599.437 1.732-.36 2.531Z"/>
                <path d="M5.205 10.787a7.632 7.632 0 0 0 1.804 1.352c-1.118 1.007-4.929 2.028-5.054 1.903-.126-.127.737-4.189 1.839-5.18.346.69.837 1.35 1.411 1.925Z"/>
              </svg></b></a></button>
        </div>
    </div>
    {% endblock %}
</body>
</html>
