<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DDT - Método Scrum</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&display=swap">

    
</head>

<body>
    <!-- cabeçalho -->
    <div class="navtop">
        <div class="titulo">
            <h1>DDT</h1>
        </div>
        <div class="links">
            <button href="home.html">Home</button>
            <button href="aprendaconosco.html">Aprenda consco</button>
            <button href="contato.html">Contato</button>
        </div>
    </div>
    <div class="corpo">

        <!-- imagem -->
        <h3>
            “Scrum: gere valor,<br>
            supere expectativas,<br>
            entregue resultados.”
        </h3>
        <h4>
            Scrum é um framework ágil de<br>
            gerenciamento de projetos, onde equipes<br>
            colaborativas entregam produtos em<br>
            ciclos curtos de trabalho, focando em<br>
            transparência, inspeção e adaptação<br>
            contínua.
        </h4>
        <hr>

        <!-- metodo scrum -->
        <h4>Método Scrum</h4>
        <h2>Introdução</h2>
        <div class="container">
            <p class="elemento">
                Scrum é uma metodologia empregada no gerenciamento de projetos complexos, para facilitar a vizualização
                dos processos de maneira mais simples e clara, mantendo registros visíveis do andamento das etapas.
                <br><br>

                A metodologia é aplicado a partir de ciclos rápidos, chamados de sprints, nos quais há um tempo
                determinado para que as atividades sejam concluídas - geralmente, entre duas e quatro semanas.
            </p>
            <div class="espaco"></div>
            <div class="elemento">
                <p>
                    Priorizando a criatividade e a fluidez nos processos, o Scrum segue seis principais princípios:
                </p>
                <ul>
                    <li>Flexibilidade dos resultados</li>
                    <li>Flexibilidade dos prazos</li>
                    <li>Times pequenos</li>
                    <li>Revisões constantes</li>
                    <li>Colaboração</li>
                    <li>Orientação a projetos</li>
                </ul>
            </div>
        </div>

        <hr>
        <!-- historia-->
        <h2>História</h2>
        <div class="container">
            <p class="elemento">
                O scrum foi idealizado em 1993, por três programadores que
                formularam o manifesto ágil: Mike Beedle, Ken Schwaber, e Jeff 
                Sutherland.<br><br>

                O método ágil foi criado, pois os desenvolvedores estavam
                insatisfeitos com o formato de cascata utilizado no processo de
                produção de softwares e resolveram buscar alternativas mais
                eficazes.<br><br>

                Eles perceberam que os líderes dedicavam meses na elaboração
                de planos detalhados que quase nunca se compriam.
            </p>
            <div class="espaco"></div>
            <div class="elemento">
                <p>
                    A partir de estudos de caso, em especial das boas práticas
                    implementadas na indústria japonesa (Toyota e Honda), os
                    programadores chegaram aos princípios scrum.<br><br>

                    O nome dessa ferramenta veio do universo do Rugby, no qual
                    Scrum corresponde a uma reunião breve, feita antes de os
                    jogadores iniciarem um lance.<br><br>

                    Da mesma forma, a metodologia Scrum inclui a realização de
                    reuniões rápidas diariamente, a fim de que todos sejam
                    informados sobre o andamento do projeto e os próximos
                    passos.
            </div>
        </div>
        <hr>


        <!-- acessar a trilha -->
        <div class="center">
            Para aprender ainda mais sobre o metódo Scrum, é só clicar abaixo!<br>
            <button type="button">Trilha de Aprendizagem</button>
        </div>
    </div>
</body>

</html>