<!DOCTYPE html>
<html lang="pt-BR">

<head>
    {% extends 'base.html' %}

    {% block titulo %}
    <title>Pilares</title>
    {% endblock %}
</head>

<body>
    {% block conteudo %}
    <!-- corpo -->
    <div class="corpo">
        <!--Introdução-->
        <h1>Pilares do Scrum</h1>
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-6 col-md-6 mx-auto my-auto" style="max-width: 600px;">
                O Scrum realmente é difícil de dominar, pois ele implica numa mudança de mindset e cultura. Mais do que
                os papéis e as práticas, são os pilares e valores do Scrum que trazem essa mudança na forma de pensar.
                <br><br> Os pilares são a base de tudo e podem inclusive trazer um grande crescimento pessoal se for
                aplicado no dia-a-dia. Os três pilares do Scrum são a transparência, inspeção e adaptação.
            </div>
            <div class="col-lg-6 col-md-6 mx-auto my-auto center" style="max-width: 600px;">
                <img class="imgev1" src="../static/img/pilares1.png" alt="pilares1">
            </div>
        </div>

        <!--Botao do colaspe-->
        <div>
            <button type="button" class="collapsible"><b>Clique para acessar o vídeo! </b>
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"
                    class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                    <path
                        d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                </svg>
            </button>
            <div class="content">
                <iframe class="center" src="https://www.youtube.com/embed/L0KBoY8Vscw" frameborder="0" width="800"
                    height="500"></iframe>
            </div>
            <script>
                var coll = document.getElementsByClassName("collapsible");
                var i;


                for (i = 0; i < coll.length; i++) {
                    coll[i].addEventListener("click", function () {
                        this.classList.toggle("active");
                        var content = this.nextElementSibling;
                        if (content.style.display === "block") {
                            content.style.display = "none";
                        } else {
                            content.style.display = "block";
                        }
                    });
                }

            </script>
        </div>

        <br>

        <!--pt1-->
        <br>
        <h1>Transparência</h1>
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-6 col-md-6 mx-auto my-auto" style="max-width: 600px;">
                O primeiro pilar do Scrum é a <b>transparência</b>, que exige que aquele que realiza a tarefa, a faça
                com clareza e visibilidade completa daquilo que está acontecendo no momento. <br><br> A falta de clareza
                abre espaço para tomadas de decosões errôneas, trazendo risco à futuras etapas do processo.
            </div>
            <div class="col-lg-6 col-md-6 mx-auto center" style="max-width: 600px;">
                <img class="imgev1" style="margin: auto; text-align: center;" src="../static/img/pilares2.png"
                    alt="pilares2">
            </div>
        </div>

        <!--pt2-->
        <br>
        <h1>Inspeção</h1>
        <div class="row gx-4 gx-lg-5">

            <div class="col-lg-6 col-md-6 mx-auto center" style="max-width: 600px;">
                <img class="imgev1" src="../static/img/pilares3.png" alt="Pilares - inspeção" style="max-width: 70%;">
            </div>
            <div class="col-lg-6 col-md-6 mx-auto my-auto" style="max-width: 600px;">
                <br>
                O segundo pilar do Scrum é a <b>inspeção</b>, que envolve a análise regular e sistemática do progresso
                do projeto e do produto resultante. <br><br> Esse pilar permite que a equipe identifique rapidamente
                quaisquer desvios do plano original e possa tomar medidas corretivas para garantir que o projeto seja
                entregue dentro do prazo e do orçamento garantido.
            </div>
        </div>

        <!--pt3-->
        <br>
        <h1>Adaptação</h1>
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-6 col-md-6 mx-auto my-auto" style="max-width: 600px;">
                <br>
                O terceiro pilar do Scrum é a <b>adaptação</b>, o que significa que a equipe está sempre pronta para
                ajustar e melhorar o processo e o produto, com base nas inspeções regulares. <br><br> A equipe deve
                estar aberta a mudanças e disposta a se adaptar às necessidades do projeto e do cliente.
            </div>
            <div class="col-lg-6 col-md-6 mx-auto center" style="max-width: 600px;">
                <img class="imgev1" src="../static/img/pilares4.png" alt="pilares4" style="max-width: 75%;">
            </div>
        </div>
        <hr>
    </div>


    <!-- retornar a trilha -->

    <div class="center">
        <img src="../static/img/trofeu.svg" class="center" alt="trofeu trilha"><br>
        Agora você já sabe quais são os pilares do Srum!<br>
        Retorne a trilha para o próximo aprendizado!
        <br><br>
        <div class="frame">
            <a style="color: black;" href="/trilha"><button class="custom-btn btn-5">Retornar a Trilha!</button></a>
        </div>
    </div>
    </div>

    <br>
    {% endblock %}
</body>

</html>