<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'base.html' %}

    {% block titulo %}
    <title>Pilares</title>
    {% endblock %}
</head>
<body>
    {% block conteudo %}
    <!-- corpo -->
    <div  class="corpo">
        <!--Introdução-->
        <h1>Pilares do Scrum</h1>
        <div class="container1">
            <div class="left">
                O Scrum realmente é difícil de dominar, pois ele implica numa mudança de mindset e cultura. Mais do que os papéis e as práticas, são os pilares e valores do Scrum que trazem essa mudança na forma de pensar. Os pilares são a base de tudo e podem inclusive trazer um grande crescimento pessoal se for aplicado no dia-a-dia. Os três pilares do Scrum são a transparência, inspeção e adaptação.
            </div>
            <div>
                <img class="imgev1" src="../static/img/pilares1.png" alt="pilares1">
            </div>
        </div>
        <hr>
        <!--pt1-->
        <div class="container1">
            <div class="left">
                <b>Transparência</b>
                <br><br>
                O Scrum realmente é difícil de dominar, pois ele implica numa mudança de mindset e cultura. Mais do que os papéis e as práticas, são os pilares e valores do Scrum que trazem essa mudança na forma de pensar. Os pilares são a base de tudo e podem inclusive trazer um grande crescimento pessoal se for aplicado no dia-a-dia. Os três pilares do Scrum são a transparência, inspeção e adaptação.
            </div>
            <div>
                <img class="imgev1" src="../static/img/pilares2.png" alt="pilares2">
            </div>
        </div>

        <!--pt2-->
        <div class="container1">
            <div>
                <img class="imgev1" src="../static/img/pilares3.png" alt="pilares3">
            </div>
            <div class="left">
                <b>Inspeção</b>
                <br><br>
                O segundo pilar do Scrum é a Inspeção, que envolve a análise regular e sistemática do progresso do projeto e do produto resultante. Esse pilar permite que a equipe identifique rapidamente quaisquer desvios do plano original e possa tomar medidas corretivas para garantir que o projeto seja entregue dentro do prazo e do orçamento garantido.
            </div>
        </div>

        <!--pt3-->
        <div class="container1">
            <div class="left">
                <b>Adaptação</b>
                <br><br>
                O terceiro pilar do Scrum é a adaptação, o que significa que a equipe está sempre pronta para ajustar e melhorar o processo e o produto, com base nas inspeções regulares. A equipe deve estar aberta a mudanças e disposta a se adaptar às necessidades do projeto e do cliente.
            </div>
            <div>
                <img class="imgev1" src="../static/img/pilares4.png" alt="pilares4">
            </div>
        </div>
        <hr>
    </div>


        <!-- retornar a trilha -->

        <div class="center">
            <img src="../static/img/trofeu.svg" class="center" alt="trofeu trilha"><br>
            Agora você já sabe quais são os pilares do Srum!<br>
            Retorne a trilha para o próximo aprendizado!<br>
            <br>
            <button type="button" class="btn btn-primary" style="background-color:#18a0fb"><a class="text-white" href="/trilha">Retornar à trilha</a></button>
        </div>
    </div>

    <br>
{% endblock %}
</body>
</html>