<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'base.html' %}
    {% block titulo %}
    <title>Teste de aprendizagem</title>
    <link rel="stylesheet" href="teste.css">
    {% endblock %}
</head>
<body>
    {% block conteudo %}
<!-- corpo -->
<div class="introdução">
    <h1>Vamos aos Artefatos
    </h1>
  </div>
  <div class="introdução2">
    <h2>Vamos arrumar o seu Backlog<br>Seu cliente quer um carro! Para fazer o carro, defina o que deve entregar em cada sprint utilizando os princípios de MVP(Mínimo produto viável).<br></h2>
  </div>
  <div class="tabela">
    <table>
      
    </table>
  </div>
  {% endblock %}