<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'base.html' %}
    {% block titulo %}
    <title>Teste de aprendizagem</title>
    {% endblock %}
</head>
<body>
{% block conteudo %}
<!-- fim cabeçalho -->
<!-- corpo -->
<div class="introdução">
    <h1>Olá, seja bem vindo ao seu projeto!</h1>
  </div>
  <div class="introdução2">
    <h4>Vamos começar montando o Seu time Scrum</h4>
  </div>
    <div class="cards">
      <div class="card" style="width: 18rem;">
          <img src="../static/img/Businessman-pana.svg" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title">Carlos</h4>
            <p class="card-text">Carlos é comunicativo, tem experiência com gestão de pessoas</p>
            <form method="post" action="cadastrar-enquete.php">
              <select name="time">
              <option value="scr"><h4>Scrum Master</h4></option>
              <option value="po"><h4>Product Owner</h4></option>
              <option value="dev"><h4>Scrum Team</h4></option>
              </select>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="../static/img/Businessman-pana.svg" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title">Carlos</h4>
            <p class="card-text">Carlos é comunicativo, tem experiência com gestão de pessoas</p>
            <form method="post" action="cadastrar-enquete.php">
              <select name="time">
              <option value="scr"><h4>Scrum Master</h4></option>
              <option value="po"><h4>Product Owner</h4></option>
              <option value="dev"><h4>Scrum Team</h4></option>
              </select>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="../static/img/Businessman-pana.svg" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title">Carlos</h4>
            <p class="card-text">Carlos é comunicativo, tem experiência com gestão de pessoas</p>
            <form method="post" action="cadastrar-enquete.php">
              <select name="time">
              <option value="scr"><h4>Scrum Master</h4></option>
              <option value="po"><h4>Product Owner</h4></option>
              <option value="dev"><h4>Scrum Team</h4></option>
              </select>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="../static/img/Businessman-pana.svg" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title">Carlos</h4>
            <p class="card-text">Carlos é comunicativo, tem experiência com gestão de pessoas</p>
            <form method="post" action="cadastrar-enquete.php">
              <select name="time">
              <option value="scr"><h4>Scrum Master</h4></option>
              <option value="po"><h4>Product Owner</h4></option>
              <option value="dev"><h4>Scrum Team</h4></option>
              </select>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="../static/img/Businessman-pana.svg" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title">Carlos</h4>
            <p class="card-text">Carlos é comunicativo, tem experiência com gestão de pessoas</p>
            <form method="post" action="">
              <select name="Cargo">
              <option value="scr"><h4>Scrum Master</h4></option>
              <option value="po"><h4>Product Owner</h4></option>
              <option value="dev"><h4>Scrum Team</h4></option>
              </select>
          </div>
        </div>
      </div>
      <div class="nextpage">
        <button class="nextpagebut">Próximo</button>
      </div>
      {% endblock %}
</body>
</html>