<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'base.html' %}
    {% block titulo %}
    <title>Teste de aprendizagem</title>
    {% endblock %}
</head>
<body>
{% block conteudo %}
<!-- fim cabeçalho -->
<!-- corpo -->
<div class="introdução">
    <h1>Olá, seja bem vindo ao seu projeto!</h1>
  </div>
  <div class="introdução2">
    <h4>Vamos começar montando o Seu time Scrum. <br>Pelo curriculo, selecione a função que mais se encaixa com o personagem<br></h4>
  </div>
    <div class="cards">
      <div class="card" style="width: 18rem;">
          <img src="../static/img/drinking coconut-pana.svg" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title">Carlos</h4>
            <p class="card-text">Experiente<br>Organizado<br> Flexível</p>
            <form method="post" action="cadastrar-enquete.php">
              <select name="time">
              <option value="scr"><h4>Scrum Master</h4></option>
              <option value="po"><h4>Product Owner</h4></option>
              <option value="dev"><h4>Scrum Team</h4></option>
              </select>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="../static/img/Curly hair-pana (2).svg" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title">Roberta</h4>
            <p class="card-text">Trabalha bem em equipe<br>Tímida<br>Experiente</p>
            <form method="post" action="cadastrar-enquete.php">
              <select name="time">
              <option value="scr"><h4>Scrum Master</h4></option>
              <option value="po"><h4>Product Owner</h4></option>
              <option value="dev"><h4>Scrum Team</h4></option>
              </select>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="../static/img/Waist bag-pana (1).svg" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title">Everton</h4>
            <p class="card-text">Trabalha bem em equipe<br>Bastante habilidade técnica<br>Independente</p>
            <form method="post" action="cadastrar-enquete.php">
              <select name="time">
              <option value="scr"><h4>Scrum Master</h4></option>
              <option value="po"><h4>Product Owner</h4></option>
              <option value="dev"><h4>Scrum Team</h4></option>
              </select>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="../static/img/Oil lamp-pana.svg" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title">Fabrício</h4>
            <p class="card-text">Experiente<br>Atento<br>Comunicativo</p>
            <form method="post" action="cadastrar-enquete.php">
              <select name="time">
              <option value="scr"><h4>Scrum Master</h4></option>
              <option value="po"><h4>Product Owner</h4></option>
              <option value="dev"><h4>Scrum Team</h4></option>
              </select>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="../static/img/Curly hair-rafiki (3).svg" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title">Sara</h4>
            <p class="card-text">Sabe administrar pessoas<br>Comunicativo<br>Experiente em SCRUM</p>
            <form method="post" action="">
              <select name="Cargo">
              <option value="scr"><h4>Scrum Master</h4></option>
              <option value="po"><h4>Product Owner</h4></option>
              <option value="dev"><h4>Scrum Team</h4></option>
              </select>
          </div>
        </div>
      </div>
      <div class="nextpage">
        <button class="nextpagebut">Próximo</button>
      </div>
      {% endblock %}
</body>
</html>