<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trilha SCRUM</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/trilha.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet"> 
</head>
<body>
<!-- cabeçalho -->
    <div class="navtop">
        <div class="titulo"><h1>DDT</h1></div>
        <ul class="links">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li class="dropdown">
                <a href="">Aprenda Conosco</a>

                <div class="dropdown-menu">
                        <a href="">Três Pilares</a>
                        <a href="artefatos.html">Artefatos</a>
                        <a href="equipe.html">Equipe</a>
                        <a href="">Ferramentas</a>
                        <a href="Avaliações.html">Avaliações</a>
                        <a href="">Eventos</a>
                </div>
            </li>
            <li>
                <a href="contato.html">Contato</a>
            </li>
        </ul>
    </div>
<!-- corpo -->
<div class="explicacao">
    <div class="balao"><p>Olá, esta é a nossa 
        trilha de aprendizagem.
        Para navegar, clique 
        nos círculos.</p></div>
        
    <div class="image2"><img src="../static/img/mulher.png" alt=""></div>


</div>
<div class="container">
    <div class="trilha">

        <div class="centrotrilha"><h1 class="ct">Trilha SCRUM</h1></div>

        <div class="circulo1"><a href="./pilares.html"></a><img src="../static/img/Good team-bro 1.png"></a></div>

        <div class="circulo2"><a href="./equipe.html"><img src="../static/img/Office work-pana 1.png" alt=""></a></div>

       <div class="circulo3"><a href="./artefatos.html"><img src="../static/img/Checklist-rafiki 1.png" alt=""> </a></div>

        <div class="circulo4"><a href="./eventos.html"></a><img src="../static/img/At the office-amico 2.png" alt=""></a></div>

        <div class="circulo5"><a href="./Avaliações.html"><img src="../static/img/Confirmed-rafiki 1.png" alt=""></a></div>


    </div>
</div>

<!-- rodapé -->
    <div class="navbot">
        <div class="ddt"><h1>DDT</h1></div>
        <ul class="links">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="contato.html">Contato</a>
            </li>
            © DDT. 2023. Método Scrum
        </ul>
    </div>
    <div class="navbot2">
        <p class="center">“Scrum: gere valor, supere expectativas, entregue resultados.”</p>
    </div>
</body>
</html>
