<!DOCTYPE html>
<html lang="pt-BR">

<head>
    {% extends 'base.html' %}
    {% block titulo %}
    <title>Trilha de aprendizado</title>
    <link rel="stylesheet" href="../static/css/trilha.css">
    {% endblock %}
</head>

<body>
    {% block conteudo %}
    <!-- corpo -->
    <div class="intro">
        <div class="intro-trilha">
            <h1>Seja bem-vindo a nossa Trilha de Aprendizagem!</h1><br>
        </div>
    </div>
    <p style="text-align: center; font-size: 20px;">Para navegar, clique nos círculos!</p>

    <div class="container-trilha">
        <div class="trilha">
            <div class="cards-trilha ">
                <div class="circulo"><a href="./pilares"><img src="../static/img/Good team-bro 1.png" alt="Pilares" height="100px"></a></div>
                <h4 class="titulotrilha">Pilares</h4>
            </div>

            <div class='seta'>
                <img class="seta-trilha" src="../static/img/seta-trilha.png" alt="" height="50px">
            </div>
            <div class="cards-trilha">
                <div class="circulo"><a href="./equipe"><img src="../static/img/Office work-pana 1.png" alt="Equipes" height="70px"></a></div>
                <h4 class="titulotrilha">Equipes</h4>
            </div>
            <div class='seta'>
                <img class="seta-trilha" src="../static/img/seta-trilha.png" alt="" height="50px">
            </div>
            <div class="cards-trilha">
                <div class="circulo"><a href="./artefatos"><img src="../static/img/Checklist-rafiki 1.png" alt="Artefatos" height="100px"></a></div>
                <h4 class="titulotrilha">Artefatos</h4>
            </div>
            <div class='seta'>
                <img class="seta-trilha" src="../static/img/seta-trilha.png" alt="" height="50px">
            </div>

            <div class="cards-trilha">
                <div class="circulo">
                    <a href="./eventos"><img src="../static/img/At the office-amico 2.png" alt="Eventos" height="100px"></a>
                </div>
                <h4 class="titulotrilha">Eventos</h4>
            </div>
            <div class='seta'>
                <img class="seta-trilha" src="../static/img/seta-trilha.png" alt="" height="50px">
            </div>

            <div class="cards-trilha">
                <div class="circulo">
                    <a href="./avaliacao"> <img class="circle" src="../static/img/Confirmed-rafiki 1.png" alt="Avaliações" height="100px"> </a>
                </div>
                <h4 class="titulotrilha">Avaliações</h4>
            </div>

            <div class='seta'>
                <img class="seta-trilha" src="../static/img/seta-trilha.png" alt="" height="50px">
            </div>

            <div class="cards-trilha">
                <div class="circulo">
                    <a href="./teste">
                        <img class="circle" src="../static/img/teste_de_aprendizado.svg" alt="Teste de aprendizado" height="100px">
                    </a>
                </div>
                <h4 class="titulotrilha">Teste</h4>
            </div>
        </div>
    </div>
    {% endblock %}
</body>

</html>